In [1]:
import requests
import json
import pandas as pd
import time
import os

In [2]:
root_url = 'http://www.nomisweb.co.uk'

# api_url = '/api/v01/dataset/NM_1_1/geography.def.sdmx.json' # list all possible geography sets
api_url = '/api/v01/dataset/NM_1_1/geography/2092957697.def.sdmx.json' # list of all geography sets in UK
# api_url = '/api/v01/dataset/NM_1_1/geography/2092957697TYPE441.def.sdmx.json' # major towns and cities within United Kingdom

url = root_url + api_url

response = requests.get(url)
json.loads(response.text)

{'structure': {'codelists': {'codelist': [{'agencyid': 'NOMIS',
     'id': 'CL_1_1_GEOGRAPHY',
     'code': [{'annotations': {'annotation': [{'annotationtext': 'countries',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 499, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'K02000001', 'annotationtitle': 'GeogCode'}]},
       'description': {'value': 'United Kingdom', 'lang': 'en'},
       'value': 2092957697},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 1, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '1991 frozen wards',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 11330, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '1991 frozen wards within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE1'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 8, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'parliamentary constituencies 1983 revision',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 2498, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'parliamentary constituencies 1983 revision within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE8'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 18, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'tecs / lecs as of 1989',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 394, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'tecs / lecs as of 1989 within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE18'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 27, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'english learning partnerships',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 101, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'english learning partnerships within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE27'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 33, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '1981 frozen wards',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 11083, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '1981 frozen wards within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE33'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 45, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'parliamentary constituencies 1983 revision',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 651, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'parliamentary constituencies 1983 revision within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE45'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 61, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'postcode towns', 'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 466, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'postcode towns within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE61'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 62, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'postcode districts',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 11451, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'postcode districts within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE62'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 63, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'postcode sectors', 'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 47389, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'postcode sectors within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE63'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 65, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'jobcentre plus offices',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 3795, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'jobcentre plus offices within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE65'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 66, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'jobcentre plus districts prior to April 2011',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 192, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'jobcentre plus districts prior to April 2011 within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE66'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 83, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'jobcentre plus group as of April 2019',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 44, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'jobcentre plus group as of April 2019 within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE83'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 84, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'jobcentre plus district as of April 2019',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 144, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'jobcentre plus district as of April 2019 within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE84'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 86, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'live jobcentre plus offices',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 2708, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'live jobcentre plus offices within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE86'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 236, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2011 census frozen wards',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 9481, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2011 census frozen wards within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE236'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 241, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'scottish parliamentary regions',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 16, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'scottish parliamentary regions within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE241'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 267, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'built-up areas including subdivisions',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 6622, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'built-up areas including subdivisions within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE267'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 269, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'built-up areas', 'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 5493, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'built-up areas within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE269'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 297, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2011 super output areas - middle layer',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 7201, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2011 super output areas - middle layer within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE297'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 304, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2001 super output areas - lower layer',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 34378, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2001 super output areas - lower layer within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE304'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 305, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2001 super output areas - middle layer',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 7194, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2001 super output areas - middle layer within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE305'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 307, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2001 scottish data zones',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 6505, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2001 scottish data zones within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE307'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 308, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2001 northern ireland - super output areas',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 890, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2001 northern ireland - super output areas within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE308'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 312, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2003 CAS wards', 'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 10654, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2003 CAS wards within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE312'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 317, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2001 scottish intermediate zones',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 1235, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2001 scottish intermediate zones within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE317'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 324, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2005 statistical wards',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 35412, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2005 statistical wards within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE324'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 331, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'travel to work areas 2001-based',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 243, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'travel to work areas 2001-based within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE331'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 337, 'annotationtitle': 'TypeCode'},
         {'annotationtext': '2009 statistical wards',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 8483, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': '2009 statistical wards within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE337'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 338, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'output area classification group',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 63, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'output area classification group within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE338'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 339, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'output area classification sub group',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 156, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'output area classification sub group within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE339'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 340, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'output area classification super group',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 21, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'output area classification super group within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE340'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 347, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'scottish index of multiple deprivation 2009 - deciles',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 30, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'scottish index of multiple deprivation 2009 - deciles within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE347'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 349, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'welsh index of multiple deprivation 2008 - deciles',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 40, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'welsh index of multiple deprivation 2008 - deciles within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE349'},
      {'annotations': {'annotation': [{'annotationtext': 'True',
          'annotationtitle': 'IsAbstractCode'},
         {'annotationtext': 351, 'annotationtitle': 'TypeCode'},
         {'annotationtext': 'northern ireland index of multiple deprivation 2010 - deciles',
          'annotationtitle': 'TypeName'},
         {'annotationtext': 2092957697, 'annotationtitle': 'ParentCode'},
         {'annotationtext': 10, 'annotationtitle': 'ChildCount'}]},
       'description': {'value': 'northern ireland index of multiple deprivation 2010 - deciles within United Kingdom',
        'lang': 'en'},
       'value': '2092957697TYPE351'},

In [3]:
api_url = '/api/v01/dataset/NM_1_1/geography/2092957697TYPE441.def.sdmx.json' # major towns and cities within United Kingdom
url = root_url + api_url

response = requests.get(url)
cities_json = json.loads(response.text)
cities_json = cities_json['structure']['codelists']['codelist'][0]['code']
cities_list = []
for city in cities_json:
    geog_code = city['annotations']['annotation'][2]['annotationtext']
    name = city['description']['value']
    id = city['value']
    city_dict = {
        'id': id,
        'name': name,
        'geog_code': geog_code
    }
    cities_list.append(city_dict)
cities_df = pd.DataFrame(cities_list)
cities_df

             id           name  geog_code
0    1849688065       Barnsley  J01000001
1    1849688066       Basildon  J01000002
2    1849688067    Basingstoke  J01000003
3    1849688068           Bath  J01000004
4    1849688069        Bedford  J01000005
..          ...            ...        ...
107  1849688172         Woking  J01000108
108  1849688173  Wolverhampton  J01000109
109  1849688174      Worcester  J01000110
110  1849688175       Worthing  J01000111
111  1849688176           York  J01000112

[112 rows x 3 columns]

In [4]:
try:
    c2011_lookup = pd.read_csv(r'.\data\raw\geoportal\Lower_Layer_Super_Output_Area_(2011)_to_Major_Towns_and_Cities_(December_2015)_Lookup_in_England_and_Wales.csv')
except:
    os.chdir('..')
    c2011_lookup = pd.read_csv(r'.\data\raw\geoportal\Lower_Layer_Super_Output_Area_(2011)_to_Major_Towns_and_Cities_(December_2015)_Lookup_in_England_and_Wales.csv')
c2011_lookup = c2011_lookup.dropna(subset=['TCITY15NM'])
c2011_lookup

        LSOA11CD             LSOA11NM  TCITY15CD TCITY15NM    FID
0      E01000001  City of London 001A  J01000055    London      1
1      E01000205          Barnet 035A  J01000055    London      2
2      E01000002  City of London 001B  J01000055    London      3
3      E01000003  City of London 001C  J01000055    London      4
4      E01000206          Barnet 033B  J01000055    London      5
...          ...                  ...        ...       ...    ...
34740  W01001703         Cardiff 045B  J01000020   Cardiff  34741
34742  W01001857         Cardiff 042C  J01000020   Cardiff  34743
34743  W01001858         Cardiff 034A  J01000020   Cardiff  34744
34744  W01001859         Cardiff 034B  J01000020   Cardiff  34745
34745  W01001860         Cardiff 034C  J01000020   Cardiff  34746

[16042 rows x 5 columns]

In [5]:
c2021_lookup = pd.read_csv(r'.\data\raw\geoportal\LSOA_(2011)_to_LSOA_(2021)_to_Local_Authority_District_(2022)_Lookup_for_England_and_Wales_(Version_2).csv')
c2021_lookup = c2021_lookup[['LSOA11CD', 'LSOA21CD']]
c2021_lookup = c2021_lookup.merge(c2011_lookup, on='LSOA11CD', how='inner')
c2021_lookup = c2021_lookup.drop('LSOA11CD', axis=1)
c2021_lookup = c2021_lookup.rename(columns={'LSOA11NM': 'LSOA21NM'})
c2021_lookup

        LSOA21CD                   LSOA21NM  TCITY15CD TCITY15NM    FID
0      E01000001        City of London 001A  J01000055    London      1
1      E01000002        City of London 001B  J01000055    London      3
2      E01000003        City of London 001C  J01000055    London      4
3      E01000005        City of London 001E  J01000055    London      7
4      E01000006  Barking and Dagenham 016A  J01000055    London      8
...          ...                        ...        ...       ...    ...
16037  W01001697               Cardiff 036D  J01000020   Cardiff  34735
16038  W01001698               Cardiff 036E  J01000020   Cardiff  34738
16039  W01001699               Cardiff 049A  J01000020   Cardiff  34739
16040  W01001702               Cardiff 045A  J01000020   Cardiff  34740
16041  W01001703               Cardiff 045B  J01000020   Cardiff  34741

[16042 rows x 5 columns]

In [6]:
# api_url = '/api/v01/dataset/def.sdmx.json' # view all datasets
api_url = '/api/v01/dataset/def.sdmx.json?search=KS*'
# api_url = '/api/v01/dataset/NM_2021_1/def.sdmx.json'


url = root_url + api_url

response = requests.get(url)
json.loads(response.text)

{'structure': {'header': {'id': 'none',
   'prepared': '2024-04-15T22:34:40Z',
   'sender': {'contact': {'email': 'support@nomisweb.co.uk',
     'name': 'Nomis',
     'telephone': '+44(0) 191 3342680',
     'uri': 'https://www.nomisweb.co.uk'},
    'id': 'NOMIS'},
   'test': 'false'},
  'keyfamilies': {'keyfamily': [{'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Area (Hectares),Communal Establishment,Household,Household resident,Population density,Students,Schoolchildren,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ks',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'oa,ps', 'annotationtitle': 'contenttype/geoglevel'},
       {'annotationtext': 2.2, 'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks101ew', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Usual resident population',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information that classifies by sex for the usual resident population of England and Wales as at census day, 27 March 2011.\n\nThe 2011 usual resident population is also classified by the number of residents living in households and those living in communal establishments.\n\n Additional information provided includes the area and population density for each area, and the number of students and schoolchildren who would reside in each area if they were not living away from their family home during term-time.',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_144_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_144_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_144_1_RURAL_URBAN', 'conceptref': 'RURAL_URBAN'},
       {'codelist': 'CL_144_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_144_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_144_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_144_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS101EW - Usual resident population', 'lang': 'en'},
     'uri': 'Nm-144d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Age,Mean age,Median age,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ks',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'oa,ps', 'annotationtitle': 'contenttype/geoglevel'},
       {'annotationtext': 2.2, 'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks102ew', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Age Structure',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information about the age structure, mean and median ages of usual residents of England and Wales as at census day, 27 March 2011.',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_145_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_145_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_145_1_RURAL_URBAN', 'conceptref': 'RURAL_URBAN'},
       {'codelist': 'CL_145_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_145_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_145_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_145_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS102EW - Age structure', 'lang': 'en'},
     'uri': 'Nm-145d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Average bedrooms per household,Average rooms per household,Bedrooms,Central Heating,Household,Household size,Occupancy rating,Rooms',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Households', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ks',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'oa,ps', 'annotationtitle': 'contenttype/geoglevel'},
       {'annotationtext': 2.2, 'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All households',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks403ew', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2013-02-08 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2014-01-17 12:00:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': '2014-01-17 12:00:00',
        'annotationtitle': 'LastRevised'},
       {'annotationtext': 'Rooms, bedrooms and central heating',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information about the rooms, bedrooms and central heating in households, for England and Wales as at census day, 27 March 2011. It includes information about the average size of households, whether they have central heating, the number of rooms and bedrooms, and the occupancy rating of the household (based on both rooms and bedrooms).',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_146_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_146_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_146_1_RURAL_URBAN', 'conceptref': 'RURAL_URBAN'},
       {'codelist': 'CL_146_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_146_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_146_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_146_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS403EW - Rooms, bedrooms and central heating',
      'lang': 'en'},
     'uri': 'Nm-146d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Area (Hectares),Communal Establishment,Household,Household resident,Population density,Students,Schoolchildren,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ksuk',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'UK.2',
        'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks101uk', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Usual resident population',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': "This table provides information that classifies by sex for the usual resident population of United Kingdom as at census day, 27 March 2011.\n\nThe 2011 usual resident population is also classified by the number of residents living in households and those living in communal establishments.\n\nAdditional information provided includes the area and population density for each area, and the number of students and schoolchildren who would reside in each area if they were not living away from their family home during term-time.\n\n'All full-time students and schoolchildren aged 4+ years living away from home during term time' figures for Northern Ireland sourced from table QS106NI.\n\nArea and Population Density figures for Noerthern Ireland sourced from table QS102NI.",
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_158_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_158_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_158_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_158_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_158_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_158_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS101UK - Usual resident population', 'lang': 'en'},
     'uri': 'Nm-158d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Age,Mean age,Median age,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ksuk',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'UK.2',
        'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks102uk', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Age Structure',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information about the age structure, mean and median ages of usual residents of United Kingdom as at census day, 27 March 2011.',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_159_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',

In [7]:
# api_url = '/api/v01/dataset/def.sdmx.json?search=C2021TS*'
# url = root_url + api_url
# response = requests.get(url)

# c2021_datasets_json = json.loads(response.text)
# c2021_datasets_json = c2021_datasets_json['structure']['keyfamilies']['keyfamily']
# c2021_datasets_metadata_list = []
# for dataset in c2021_datasets_json:
#     annotations = dataset['annotations']['annotation']
#     for annotation in annotations:
#         if annotation['annotationtitle'] == 'contenttype/geoglevel':
#             geoglevel = annotation['annotationtext']
#         if annotation['annotationtitle'] == 'Mnemonic':
#             mnemonic = annotation['annotationtext']
#         if annotation['annotationtitle'] == 'MetadataText0':
#             description = annotation['annotationtext']
#     id = dataset['id']
#     metadata = {
#         'id': id,
#         'mnemonic': mnemonic,
#         'description': description,
#         'geoglevel': geoglevel
#     }
#     c2021_datasets_metadata_list.append(metadata)
# c2021_datasets_metadata_df = pd.DataFrame(c2021_datasets_metadata_list)
# c2021_datasets_metadata_df.to_csv(r'.\data\raw\api\lsoa\counts\c2021\metadata.csv')
# c2021_datasets_metadata_df

In [8]:
# record_limit = 25000
# offset = 0

# for dataset in c2021_datasets_metadata_list:
#     id = dataset['id']
#     mnemonic = dataset['mnemonic']
#     geoglevel = dataset['geoglevel'].split(',')
#     if 'oa' not in geoglevel:
#         continue

#     print("downloading", mnemonic)
#     api_url = f'/api/v01/dataset/{id}.data.csv?recordlimit=10'
#     url = root_url + api_url
#     try:
#         dataset_df = pd.read_csv(url)
#     except:
#         time.sleep(60)
#         dataset_df = pd.read_csv(url)
#     dataset_df.to_csv('test.csv')
#     try:
#         stat_name = dataset_df.filter(regex='^C2021.*NAME$', axis=1).columns[0].lower()
#     except:
#         try:
#             stat_name = dataset_df.filter(regex='^CELL.*NAME$', axis=1).columns[0].lower()
#         except:
#             stat_name = dataset_df.filter(regex='^C_.*NAME$', axis=1).columns[0].lower()

#     last_record = offset

#     for i in range(1000):
#         print(f"trying records {last_record} - {last_record + record_limit}")
#         api_url = f'/api/v01/dataset/{id}.data.csv?geography=TYPE151&measures=20100&select=date,geography_code,geography_type,geography_typecode,{stat_name},obs_value&recordlimit={record_limit}&recordoffset={last_record}'
#         url = root_url + api_url

#         print(url)

#         try:
#             batch_df = pd.read_csv(url)
#         except pd.errors.EmptyDataError:
#             print("empty dataset")
#             break
#         except:
#             time.sleep(60)
#             batch_df = pd.read_csv(url)

#         display(batch_df.head())

#         if len(batch_df) == 0:
#             break

#         dest_file = f'./data/raw/api/lsoa/counts/c2021/{mnemonic}_{i:02}.csv'
#         batch_df.to_csv(dest_file)
#         print(f"chunk {i} saved in {dest_file}")

#         last_record += record_limit

In [9]:
api_url = '/api/v01/dataset/def.sdmx.json?search=c2011ks*'
url = root_url + api_url
response = requests.get(url)
json.loads(response.text)

{'structure': {'header': {'id': 'none',
   'prepared': '2024-04-15T22:34:46Z',
   'sender': {'contact': {'email': 'support@nomisweb.co.uk',
     'name': 'Nomis',
     'telephone': '+44(0) 191 3342680',
     'uri': 'https://www.nomisweb.co.uk'},
    'id': 'NOMIS'},
   'test': 'false'},
  'keyfamilies': {'keyfamily': [{'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Area (Hectares),Communal Establishment,Household,Household resident,Population density,Students,Schoolchildren,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ks',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'oa,ps', 'annotationtitle': 'contenttype/geoglevel'},
       {'annotationtext': 2.2, 'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks101ew', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Usual resident population',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information that classifies by sex for the usual resident population of England and Wales as at census day, 27 March 2011.\n\nThe 2011 usual resident population is also classified by the number of residents living in households and those living in communal establishments.\n\n Additional information provided includes the area and population density for each area, and the number of students and schoolchildren who would reside in each area if they were not living away from their family home during term-time.',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_144_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_144_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_144_1_RURAL_URBAN', 'conceptref': 'RURAL_URBAN'},
       {'codelist': 'CL_144_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_144_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_144_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_144_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS101EW - Usual resident population', 'lang': 'en'},
     'uri': 'Nm-144d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Age,Mean age,Median age,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ks',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'oa,ps', 'annotationtitle': 'contenttype/geoglevel'},
       {'annotationtext': 2.2, 'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks102ew', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2013-02-12 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Age Structure',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information about the age structure, mean and median ages of usual residents of England and Wales as at census day, 27 March 2011.',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_145_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_145_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_145_1_RURAL_URBAN', 'conceptref': 'RURAL_URBAN'},
       {'codelist': 'CL_145_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_145_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_145_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_145_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS102EW - Age structure', 'lang': 'en'},
     'uri': 'Nm-145d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Average bedrooms per household,Average rooms per household,Bedrooms,Central Heating,Household,Household size,Occupancy rating,Rooms',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Households', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ks',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'oa,ps', 'annotationtitle': 'contenttype/geoglevel'},
       {'annotationtext': 2.2, 'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All households',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks403ew', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2013-02-08 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2014-01-17 12:00:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': '2014-01-17 12:00:00',
        'annotationtitle': 'LastRevised'},
       {'annotationtext': 'Rooms, bedrooms and central heating',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information about the rooms, bedrooms and central heating in households, for England and Wales as at census day, 27 March 2011. It includes information about the average size of households, whether they have central heating, the number of rooms and bedrooms, and the occupancy rating of the household (based on both rooms and bedrooms).',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_146_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_146_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_146_1_RURAL_URBAN', 'conceptref': 'RURAL_URBAN'},
       {'codelist': 'CL_146_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_146_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_146_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_146_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS403EW - Rooms, bedrooms and central heating',
      'lang': 'en'},
     'uri': 'Nm-146d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Area (Hectares),Communal Establishment,Household,Household resident,Population density,Students,Schoolchildren,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ksuk',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'UK.2',
        'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks101uk', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Usual resident population',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': "This table provides information that classifies by sex for the usual resident population of United Kingdom as at census day, 27 March 2011.\n\nThe 2011 usual resident population is also classified by the number of residents living in households and those living in communal establishments.\n\nAdditional information provided includes the area and population density for each area, and the number of students and schoolchildren who would reside in each area if they were not living away from their family home during term-time.\n\n'All full-time students and schoolchildren aged 4+ years living away from home during term time' figures for Northern Ireland sourced from table QS106NI.\n\nArea and Population Density figures for Noerthern Ireland sourced from table QS102NI.",
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_158_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_CONF',
        'conceptref': 'OBS_CONF'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_ROUND',
        'conceptref': 'OBS_ROUND'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT_MULT',
        'conceptref': 'UNIT_MULTIPLIER'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_TIME_FORMAT',
        'conceptref': 'TIME_FORMAT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'codelist': 'CL_UNIT',
        'conceptref': 'UNIT'},
       {'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Series',
        'conceptref': 'TITLE_COMPL'}],
      'dimension': [{'codelist': 'CL_158_1_GEOGRAPHY',
        'conceptref': 'GEOGRAPHY'},
       {'codelist': 'CL_158_1_CELL', 'conceptref': 'CELL'},
       {'codelist': 'CL_158_1_MEASURES', 'conceptref': 'MEASURES'},
       {'codelist': 'CL_158_1_FREQ',
        'conceptref': 'FREQ',
        'isfrequencydimension': 'true'}],
      'primarymeasure': {'conceptref': 'OBS_VALUE'},
      'timedimension': {'codelist': 'CL_158_1_TIME', 'conceptref': 'TIME'}},
     'name': {'value': 'KS101UK - Usual resident population', 'lang': 'en'},
     'uri': 'Nm-158d1',
     'version': 1.0},
    {'agencyid': 'NOMIS',
     'annotations': {'annotation': [{'annotationtext': 'Current (being actively updated)',
        'annotationtitle': 'Status'},
       {'annotationtext': 'Age,Mean age,Median age,Usual Resident',
        'annotationtitle': 'Keywords'},
       {'annotationtext': 'Persons', 'annotationtitle': 'Units'},
       {'annotationtext': 'census_2011_ksuk',
        'annotationtitle': 'contenttype/sources'},
       {'annotationtext': 'UK.2',
        'annotationtitle': 'contenttype/censusrelease'},
       {'annotationtext': 'All usual residents',
        'annotationtitle': 'SubDescription'},
       {'annotationtext': 'c2011ks102uk', 'annotationtitle': 'Mnemonic'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'FirstReleased'},
       {'annotationtext': '2014-06-13 09:30:00',
        'annotationtitle': 'LastUpdated'},
       {'annotationtext': 'Age Structure',
        'annotationtitle': 'MetadataTitle0'},
       {'annotationtext': 'This table provides information about the age structure, mean and median ages of usual residents of United Kingdom as at census day, 27 March 2011.',
        'annotationtitle': 'MetadataText0'},
       {'annotationtext': 'Statistical Disclosure Control',
        'annotationtitle': 'MetadataTitle1'},
       {'annotationtext': 'In order to protect against disclosure of personal information from the 2011 Census, there has been swapping of records in the Census database between different geographic areas, and so some counts will be affected. In the main, the greatest effects will be at the lowest geographies, since the record swapping is targeted towards those households with unusual characteristics in small areas.\n\nMore details on the ONS Census disclosure control strategy may be found on the http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/2011-census-prospectus/new-developments-for-2011-census-results/statistical-disclosure-control/index.html[Statistical Disclosure Control] page on the ONS web site.',
        'annotationtitle': 'MetadataText1'},
       {'annotationtext': 2, 'annotationtitle': 'MetadataCount'}]},
     'id': 'NM_159_1',
     'components': {'attribute': [{'assignmentstatus': 'Mandatory',
        'attachmentlevel': 'Observation',
        'codelist': 'CL_OBS_STATUS',
        'conceptref': 'OBS_STATUS'},
       {'assignmentstatus': 'Conditional',
        'attachmentlevel': 'Observation',

In [10]:
api_url = '/api/v01/dataset/def.sdmx.json?search=c2011ks*'
url = root_url + api_url
response = requests.get(url)

c2011_datasets_json = json.loads(response.text)
c2011_datasets_json = c2011_datasets_json['structure']['keyfamilies']['keyfamily']
c2011_datasets_metadata_list = []
for dataset in c2011_datasets_json:
    annotations = dataset['annotations']['annotation']
    for annotation in annotations:
        if annotation['annotationtitle'] == 'contenttype/geoglevel':
            geoglevel = annotation['annotationtext']
        if annotation['annotationtitle'] == 'Mnemonic':
            mnemonic = annotation['annotationtext']
        if annotation['annotationtitle'] == 'MetadataText0':
            description = annotation['annotationtext']
    id = dataset['id']
    metadata = {
        'id': id,
        'mnemonic': mnemonic,
        'description': description,
        'geoglevel': geoglevel
    }
    c2011_datasets_metadata_list.append(metadata)
c2011_datasets_metadata_df = pd.DataFrame(c2011_datasets_metadata_list)
c2011_datasets_metadata_df.to_csv('./data/raw/api/lsoa/counts/c2011/metadata.csv')
c2011_datasets_metadata_df

,id,mnemonic,description,geoglevel
0,NM_144_1,c2011ks101ew,This table provides information that classifie...,"oa,ps"
1,NM_145_1,c2011ks102ew,This table provides information about the age ...,"oa,ps"
2,NM_146_1,c2011ks403ew,This table provides information about the room...,"oa,ps"
3,NM_158_1,c2011ks101uk,This table provides information that classifie...,"oa,ps"
4,NM_159_1,c2011ks102uk,This table provides information about the age ...,"oa,ps"
5,NM_603_1,c2011ks103ew,This table provides information that classifie...,"oa,ps"
6,NM_604_1,c2011ks104ew,This table provides information that classifie...,"oa,ps"
7,NM_605_1,c2011ks105ew,This table provides information that classifie...,"oa,ps"
8,NM_606_1,c2011ks106ew,This table provides information that classifie...,"oa,ps"
9,NM_607_1,c2011ks107ew,This table provides information about lone par...,"oa,ps"
10,NM_608_1,c2011ks201ew,This table provides information about the ethn...,"oa,ps"
11,NM_609_1,c2011ks202ew,This table provides information that classifie...,"oa,ps"
12,NM_611_1,c2011ks204ew,This table provides information that classifie...,"oa,ps"
13,NM_612_1,c2011ks205ew,This table provides information that classifie...,"oa,ps"
14,NM_613_1,c2011ks206ew,This table provides information that classifie...,"oa,ps"
15,NM_614_1,c2011ks207wa,This table provides information that classifie...,"oa,ps"
16,NM_615_1,c2011ks208wa,"This ""Welsh language profile"" classifies usual...","oa,ps"
17,NM_616_1,c2011ks209ew,This table provides information that classifie...,"oa,ps"
18,NM_617_1,c2011ks301ew,This table provides information about the heal...,"oa,ps"
19,NM_618_1,c2011ks401ew,This table provides information about dwelling...,"oa,ps"
20,NM_619_1,c2011ks402ew,This table provides information that classifie...,"oa,ps"
21,NM_621_1,c2011ks404ew,This table provides information about the numb...,"oa,ps"
22,NM_622_1,c2011ks405ew,This table provides information about the numb...,"oa,ps"
23,NM_623_1,c2011ks501ew,This table provides information that classifie...,"oa,ps"
24,NM_624_1,c2011ks601ew,This table provides information that classifie...,"oa,ps"
25,NM_625_1,c2011ks604ew,This table provides information that classifie...,"oa,ps"
26,NM_626_1,c2011ks605ew,This table provides information that classifie...,"oa,ps"
27,NM_627_1,c2011ks608ew,This table provides information that classifie...,"oa,ps"
28,NM_628_1,c2011ks611ew,This table provides information about the Nati...,"oa,ps"
29,NM_1500_1,c2011ks103uk,This table provides information that classifie...,oa
30,NM_1501_1,c2011ks104uk,This table provides information that classifie...,oa
31,NM_1502_1,c2011ks105uk,This table provides information that classifie...,oa
32,NM_1503_1,c2011ks107uk,This table provides information about lone par...,oa
33,NM_1504_1,c2011ks201uk,This table provides information about the ethn...,oa
34,NM_1505_1,c2011ks301uk,This table provides information about the heal...,oa
35,NM_1506_1,c2011ks401uk,This table provides information about dwelling...,oa
36,NM_1507_1,c2011ks402uk,This table provides information that classifie...,oa
37,NM_1508_1,c2011ks404uk,This table provides information about the numb...,oa
38,NM_1509_1,c2011ks405uk,This table provides information about the numb...,oa
39,NM_1510_1,c2011ks501uk,This table provides information that classifie...,oa
40,NM_1511_1,c2011ks601uk,This table provides information that classifie...,oa
41,NM_1512_1,c2011ks602uk,This table provides information that classifie...,oa
42,NM_1513_1,c2011ks603uk,This table provides information that classifie...,oa
43,NM_1514_1,c2011ks604uk,This table provides information that classifie...,oa
44,NM_1515_1,c2011ks605uk,This table provides information that classifie...,oa
45,NM_1516_1,c2011ks606uk,This table provides information that classifie...,oa
46,NM_1517_1,c2011ks607uk,This table provides information that classifie...,oa
47,NM_1518_1,c2011ks608uk,This table provides information that classifie...,oa
48,NM_1519_1,c2011ks609uk,This table provides information that classifie...,oa
49,NM_1520_1,c2011ks610uk,This table provides information that classifie...,oa
50,NM_1521_1,c2011ks611uk,This table provides information about the Nati...,oa
51,NM_1522_1,c2011ks612uk,This table provides information about the Nati...,oa
52,NM_1523_1,c2011ks613uk,This table provides information about the Nati...,oa

In [11]:
record_limit = 25000
offset = 0

for dataset in c2011_datasets_metadata_list:
    id = dataset['id']
    mnemonic = dataset['mnemonic']
    geoglevel = dataset['geoglevel'].split(',')
    if 'oa' not in geoglevel:
        continue

    print("downloading", mnemonic)
    api_url = f'/api/v01/dataset/{id}.data.csv?recordlimit=10'
    url = root_url + api_url
    try:
        dataset_df = pd.read_csv(url)
    except:
        time.sleep(60)
        dataset_df = pd.read_csv(url)
    dataset_df.to_csv('test.csv')
    try:
        stat_name = dataset_df.filter(regex='^C2011.*NAME$', axis=1).columns[0].lower()
    except:
        try:
            stat_name = dataset_df.filter(regex='^CELL.*NAME$', axis=1).columns[0].lower()
        except:
            try:
                stat_name = dataset_df.filter(regex='^C_.*NAME$', axis=1).columns[0].lower()
            except:
                stat_name = dataset_df.filter(regex='RURAL_URBAN_TYPE', axis=1).columns[0].lower()

    last_record = offset

    for i in range(1000):
        print(f"trying records {last_record} - {last_record + record_limit}")
        api_url = f'/api/v01/dataset/{id}.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,{stat_name},obs_value&recordlimit={record_limit}&recordoffset={last_record}'
        url = root_url + api_url

        print(url)

        try:
            batch_df = pd.read_csv(url)
        except pd.errors.EmptyDataError:
            print("empty dataset")
            break
        except:
            time.sleep(60)
            batch_df = pd.read_csv(url)

        display(batch_df.head())

        if len(batch_df) == 0:
            break

        dest_file = f'./data/raw/api/lsoa/counts/c2011/{mnemonic}_{i:02}.csv'
        batch_df.to_csv(dest_file)
        print(f"chunk {i} saved in {dest_file}")

        last_record += record_limit

downloading c2011ks101ew
trying records 0 - 25000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=0

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012334,2011 super output areas - lower layer,298,All usual residents,2466.0
1,2011,E01012334,2011 super output areas - lower layer,298,Males,1220.0
2,2011,E01012334,2011 super output areas - lower layer,298,Females,1246.0
3,2011,E01012334,2011 super output areas - lower layer,298,Lives in a household,2466.0
4,2011,E01012334,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 0 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_00.csv
trying records 25000 - 50000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=25000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01020758,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01020758,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01020758,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01020758,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01020758,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 1 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_01.csv
trying records 50000 - 75000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=50000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012011,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01012011,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01012011,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01012011,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01012011,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 2 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_02.csv
trying records 75000 - 100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=75000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027550,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01027550,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01027550,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01027550,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01027550,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 3 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_03.csv
trying records 100000 - 125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008276,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01008276,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01008276,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01008276,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01008276,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 4 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_04.csv
trying records 125000 - 150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=125000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01033554,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01033554,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01033554,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01033554,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01033554,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 5 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_05.csv
trying records 150000 - 175000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=150000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008632,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01008632,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01008632,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01008632,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01008632,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 6 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_06.csv
trying records 175000 - 200000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=175000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012629,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01012629,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01012629,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01012629,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01012629,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 7 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_07.csv
trying records 200000 - 225000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=200000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018464,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01018464,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01018464,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01018464,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01018464,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 8 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_08.csv
trying records 225000 - 250000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=225000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018546,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01018546,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01018546,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01018546,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01018546,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 9 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_09.csv
trying records 250000 - 275000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=250000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012546,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01012546,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01012546,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01012546,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01012546,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 10 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_10.csv
trying records 275000 - 300000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=275000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01019194,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01019194,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01019194,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01019194,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01019194,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 11 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_11.csv
trying records 300000 - 325000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=300000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01004869,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01004869,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01004869,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01004869,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01004869,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 12 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_12.csv
trying records 325000 - 350000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=325000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005252,2011 super output areas - lower layer,298,All usual residents,1834.0
1,2011,E01005252,2011 super output areas - lower layer,298,Males,862.0
2,2011,E01005252,2011 super output areas - lower layer,298,Females,972.0
3,2011,E01005252,2011 super output areas - lower layer,298,Lives in a household,1825.0
4,2011,E01005252,2011 super output areas - lower layer,298,Lives in a communal establishment,9.0

chunk 13 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_13.csv
trying records 350000 - 375000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=350000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005130,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01005130,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01005130,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01005130,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01005130,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 14 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_14.csv
trying records 375000 - 400000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=375000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005471,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01005471,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01005471,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01005471,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01005471,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 15 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_15.csv
trying records 400000 - 425000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=400000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005869,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01005869,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01005869,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01005869,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01005869,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 16 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_16.csv
trying records 425000 - 450000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=425000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006015,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01006015,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01006015,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01006015,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01006015,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 17 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_17.csv
trying records 450000 - 475000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=450000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006375,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01006375,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01006375,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01006375,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01006375,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 18 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_18.csv
trying records 475000 - 500000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=475000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01024968,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01024968,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01024968,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01024968,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01024968,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 19 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_19.csv
trying records 500000 - 525000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=500000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025192,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01025192,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01025192,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01025192,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01025192,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 20 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_20.csv
trying records 525000 - 550000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=525000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025465,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01025465,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01025465,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01025465,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01025465,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 21 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_21.csv
trying records 550000 - 575000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=550000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006496,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01006496,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01006496,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01006496,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01006496,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 22 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_22.csv
trying records 575000 - 600000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=575000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006679,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01006679,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01006679,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01006679,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01006679,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 23 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_23.csv
trying records 600000 - 625000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=600000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007041,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01007041,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01007041,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01007041,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01007041,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 24 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_24.csv
trying records 625000 - 650000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=625000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007223,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01007223,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01007223,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01007223,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01007223,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 25 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_25.csv
trying records 650000 - 675000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=650000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01013032,2011 super output areas - lower layer,298,All usual residents,1444.0
1,2011,E01013032,2011 super output areas - lower layer,298,Males,704.0
2,2011,E01013032,2011 super output areas - lower layer,298,Females,740.0
3,2011,E01013032,2011 super output areas - lower layer,298,Lives in a household,1444.0
4,2011,E01013032,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 26 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_26.csv
trying records 675000 - 700000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=675000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012756,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01012756,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01012756,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01012756,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01012756,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 27 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_27.csv
trying records 700000 - 725000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=700000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01013323,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01013323,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01013323,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01013323,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01013323,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 28 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_28.csv
trying records 725000 - 750000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=725000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027675,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01027675,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01027675,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01027675,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01027675,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 29 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_29.csv
trying records 750000 - 775000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=750000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027913,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01027913,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01027913,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01027913,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01027913,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 30 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_30.csv
trying records 775000 - 800000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=775000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01033259,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01033259,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01033259,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01033259,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01033259,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 31 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_31.csv
trying records 800000 - 825000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=800000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007676,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01007676,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01007676,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01007676,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01007676,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 32 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_32.csv
trying records 825000 - 850000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=825000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008095,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01008095,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01008095,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01008095,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01008095,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 33 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_33.csv
trying records 850000 - 875000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=850000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010790,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01010790,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01010790,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01010790,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01010790,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 34 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_34.csv
trying records 875000 - 900000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=875000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010916,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01010916,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01010916,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01010916,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01010916,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 35 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_35.csv
trying records 900000 - 925000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=900000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01011203,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01011203,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01011203,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01011203,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01011203,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 36 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_36.csv
trying records 925000 - 950000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=925000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01011460,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01011460,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01011460,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01011460,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01011460,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 37 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_37.csv
trying records 950000 - 975000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=950000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01011312,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01011312,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01011312,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01011312,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01011312,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 38 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_38.csv
trying records 975000 - 1000000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=975000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01011817,2011 super output areas - lower layer,298,All usual residents,1332.0
1,2011,E01011817,2011 super output areas - lower layer,298,Males,649.0
2,2011,E01011817,2011 super output areas - lower layer,298,Females,683.0
3,2011,E01011817,2011 super output areas - lower layer,298,Lives in a household,1332.0
4,2011,E01011817,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 39 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_39.csv
trying records 1000000 - 1025000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1000000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01033168,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01033168,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01033168,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01033168,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01033168,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 40 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_40.csv
trying records 1025000 - 1050000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1025000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01013935,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01013935,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01013935,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01013935,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01013935,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 41 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_41.csv
trying records 1050000 - 1075000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1050000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01032613,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01032613,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01032613,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01032613,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01032613,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 42 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_42.csv
trying records 1075000 - 1100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1075000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01019730,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01019730,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01019730,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01019730,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01019730,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 43 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_43.csv
trying records 1100000 - 1125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025703,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01025703,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01025703,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01025703,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01025703,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 44 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_44.csv
trying records 1125000 - 1150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1125000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025923,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01025923,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01025923,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01025923,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01025923,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 45 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_45.csv
trying records 1150000 - 1175000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1150000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01026133,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01026133,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01026133,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01026133,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01026133,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 46 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_46.csv
trying records 1175000 - 1200000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1175000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01026399,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01026399,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01026399,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01026399,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01026399,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 47 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_47.csv
trying records 1200000 - 1225000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1200000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027246,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01027246,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01027246,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01027246,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01027246,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 48 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_48.csv
trying records 1225000 - 1250000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1225000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027953,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01027953,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01027953,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01027953,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01027953,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 49 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_49.csv
trying records 1250000 - 1275000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1250000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01028160,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01028160,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01028160,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01028160,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01028160,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 50 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_50.csv
trying records 1275000 - 1300000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1275000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01014024,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01014024,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01014024,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01014024,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01014024,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 51 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_51.csv
trying records 1300000 - 1325000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1300000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01028985,2011 super output areas - lower layer,298,All usual residents,1314.0
1,2011,E01028985,2011 super output areas - lower layer,298,Males,625.0
2,2011,E01028985,2011 super output areas - lower layer,298,Females,689.0
3,2011,E01028985,2011 super output areas - lower layer,298,Lives in a household,1314.0
4,2011,E01028985,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 52 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_52.csv
trying records 1325000 - 1350000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1325000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01014102,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01014102,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01014102,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01014102,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01014102,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 53 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_53.csv
trying records 1350000 - 1375000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1350000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01029494,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01029494,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01029494,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01029494,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01029494,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 54 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_54.csv
trying records 1375000 - 1400000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1375000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01029728,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01029728,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01029728,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01029728,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01029728,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 55 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_55.csv
trying records 1400000 - 1425000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1400000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01031088,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01031088,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01031088,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01031088,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01031088,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 56 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_56.csv
trying records 1425000 - 1450000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1425000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01009421,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01009421,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01009421,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01009421,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01009421,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 57 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_57.csv
trying records 1450000 - 1475000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1450000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01009092,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01009092,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01009092,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01009092,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01009092,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 58 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_58.csv
trying records 1475000 - 1500000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1475000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01009504,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01009504,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01009504,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01009504,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01009504,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 59 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_59.csv
trying records 1500000 - 1525000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1500000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01009695,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01009695,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01009695,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01009695,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01009695,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 60 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_60.csv
trying records 1525000 - 1550000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1525000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01009801,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01009801,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01009801,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01009801,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01009801,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 61 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_61.csv
trying records 1550000 - 1575000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1550000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01009946,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01009946,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01009946,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01009946,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01009946,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 62 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_62.csv
trying records 1575000 - 1600000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1575000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010407,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01010407,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01010407,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01010407,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01010407,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 63 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_63.csv
trying records 1600000 - 1625000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1600000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01032147,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01032147,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01032147,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01032147,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01032147,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 64 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_64.csv
trying records 1625000 - 1650000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1625000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01032383,2011 super output areas - lower layer,298,All usual residents,1480.0
1,2011,E01032383,2011 super output areas - lower layer,298,Males,726.0
2,2011,E01032383,2011 super output areas - lower layer,298,Females,754.0
3,2011,E01032383,2011 super output areas - lower layer,298,Lives in a household,1372.0
4,2011,E01032383,2011 super output areas - lower layer,298,Lives in a communal establishment,108.0

chunk 65 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_65.csv
trying records 1650000 - 1675000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1650000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01033194,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01033194,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01033194,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01033194,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01033194,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 66 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_66.csv
trying records 1675000 - 1700000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1675000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01015736,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01015736,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01015736,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01015736,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01015736,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 67 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_67.csv
trying records 1700000 - 1725000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1700000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01016001,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01016001,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01016001,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01016001,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01016001,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 68 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_68.csv
trying records 1725000 - 1750000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1725000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018079,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01018079,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01018079,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01018079,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01018079,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 69 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_69.csv
trying records 1750000 - 1775000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1750000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01021336,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01021336,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01021336,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01021336,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01021336,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 70 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_70.csv
trying records 1775000 - 1800000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1775000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01021517,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01021517,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01021517,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01021517,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01021517,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 71 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_71.csv
trying records 1800000 - 1825000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1800000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01021735,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01021735,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01021735,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01021735,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01021735,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 72 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_72.csv
trying records 1825000 - 1850000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1825000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01022007,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01022007,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01022007,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01022007,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01022007,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 73 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_73.csv
trying records 1850000 - 1875000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1850000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01023349,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01023349,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01023349,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01023349,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01023349,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 74 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_74.csv
trying records 1875000 - 1900000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1875000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01023618,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01023618,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01023618,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01023618,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01023618,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 75 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_75.csv
trying records 1900000 - 1925000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1900000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01023898,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01023898,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01023898,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01023898,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01023898,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 76 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_76.csv
trying records 1925000 - 1950000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1925000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01026507,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01026507,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01026507,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01026507,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01026507,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 77 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_77.csv
trying records 1950000 - 1975000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1950000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01026831,2011 super output areas - lower layer,298,All usual residents,1242.0
1,2011,E01026831,2011 super output areas - lower layer,298,Males,647.0
2,2011,E01026831,2011 super output areas - lower layer,298,Females,595.0
3,2011,E01026831,2011 super output areas - lower layer,298,Lives in a household,1242.0
4,2011,E01026831,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 78 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_78.csv
trying records 1975000 - 2000000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1975000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01029951,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01029951,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01029951,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01029951,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01029951,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 79 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_79.csv
trying records 2000000 - 2025000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2000000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01033449,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01033449,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01033449,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01033449,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01033449,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 80 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_80.csv
trying records 2025000 - 2050000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2025000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01000915,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01000915,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01000915,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01000915,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01000915,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 81 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_81.csv
trying records 2050000 - 2075000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2050000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01001901,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01001901,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01001901,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01001901,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01001901,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 82 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_82.csv
trying records 2075000 - 2100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2075000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01002739,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01002739,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01002739,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01002739,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01002739,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 83 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_83.csv
trying records 2100000 - 2125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01003041,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01003041,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01003041,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01003041,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01003041,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 84 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_84.csv
trying records 2125000 - 2150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2125000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01003330,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01003330,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01003330,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01003330,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01003330,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 85 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_85.csv
trying records 2150000 - 2175000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2150000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01003987,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01003987,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01003987,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01003987,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01003987,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 86 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_86.csv
trying records 2175000 - 2200000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2175000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01032779,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01032779,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01032779,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01032779,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01032779,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 87 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_87.csv
trying records 2200000 - 2225000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2200000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01004670,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01004670,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01004670,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01004670,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01004670,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 88 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_88.csv
trying records 2225000 - 2250000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2225000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01000119,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01000119,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01000119,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01000119,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01000119,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 89 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_89.csv
trying records 2250000 - 2275000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2250000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01000388,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01000388,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01000388,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01000388,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01000388,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 90 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_90.csv
trying records 2275000 - 2300000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2275000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01000584,2011 super output areas - lower layer,298,All usual residents,1695.0
1,2011,E01000584,2011 super output areas - lower layer,298,Males,846.0
2,2011,E01000584,2011 super output areas - lower layer,298,Females,849.0
3,2011,E01000584,2011 super output areas - lower layer,298,Lives in a household,1695.0
4,2011,E01000584,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 91 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_91.csv
trying records 2300000 - 2325000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2300000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01001191,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01001191,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01001191,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01001191,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01001191,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 92 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_92.csv
trying records 2325000 - 2350000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2325000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01001209,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01001209,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01001209,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01001209,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01001209,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 93 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_93.csv
trying records 2350000 - 2375000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2350000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01001455,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01001455,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01001455,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01001455,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01001455,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 94 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_94.csv
trying records 2375000 - 2400000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2375000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01002118,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01002118,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01002118,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01002118,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01002118,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 95 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_95.csv
trying records 2400000 - 2425000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2400000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01002386,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01002386,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01002386,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01002386,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01002386,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 96 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_96.csv
trying records 2425000 - 2450000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2425000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01002622,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01002622,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01002622,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01002622,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01002622,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 97 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_97.csv
trying records 2450000 - 2475000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2450000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01003358,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01003358,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01003358,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01003358,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01003358,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 98 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_98.csv
trying records 2475000 - 2500000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2475000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01003680,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01003680,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01003680,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01003680,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01003680,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 99 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_99.csv
trying records 2500000 - 2525000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2500000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01004350,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01004350,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01004350,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01004350,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01004350,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 100 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_100.csv
trying records 2525000 - 2550000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2525000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01016920,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01016920,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01016920,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01016920,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01016920,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 101 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_101.csv
trying records 2550000 - 2575000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2550000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01016075,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01016075,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01016075,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01016075,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01016075,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 102 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_102.csv
trying records 2575000 - 2600000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2575000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01016780,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01016780,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01016780,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01016780,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01016780,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 103 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_103.csv
trying records 2600000 - 2625000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2600000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01033417,2011 super output areas - lower layer,298,All usual residents,1095.0
1,2011,E01033417,2011 super output areas - lower layer,298,Males,601.0
2,2011,E01033417,2011 super output areas - lower layer,298,Females,494.0
3,2011,E01033417,2011 super output areas - lower layer,298,Lives in a household,1095.0
4,2011,E01033417,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 104 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_104.csv
trying records 2625000 - 2650000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2625000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01017166,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01017166,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01017166,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01017166,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01017166,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 105 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_105.csv
trying records 2650000 - 2675000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2650000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01016660,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01016660,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01016660,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01016660,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01016660,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 106 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_106.csv
trying records 2675000 - 2700000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2675000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01017757,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01017757,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01017757,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01017757,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01017757,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 107 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_107.csv
trying records 2700000 - 2725000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2700000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01020977,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01020977,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01020977,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01020977,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01020977,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 108 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_108.csv
trying records 2725000 - 2750000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2725000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01021210,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01021210,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01021210,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01021210,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01021210,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 109 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_109.csv
trying records 2750000 - 2775000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2750000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01022693,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01022693,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01022693,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01022693,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01022693,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 110 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_110.csv
trying records 2775000 - 2800000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2775000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01022908,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01022908,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01022908,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01022908,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01022908,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 111 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_111.csv
trying records 2800000 - 2825000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2800000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01032871,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01032871,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01032871,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01032871,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01032871,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 112 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_112.csv
trying records 2825000 - 2850000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2825000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01024085,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01024085,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01024085,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01024085,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01024085,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 113 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_113.csv
trying records 2850000 - 2875000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2850000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01024354,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01024354,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01024354,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01024354,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01024354,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 114 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_114.csv
trying records 2875000 - 2900000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2875000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01024589,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01024589,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01024589,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01024589,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01024589,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 115 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_115.csv
trying records 2900000 - 2925000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2900000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01024849,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01024849,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01024849,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01024849,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01024849,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 116 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_116.csv
trying records 2925000 - 2950000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2925000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01028683,2011 super output areas - lower layer,298,All usual residents,1378.0
1,2011,E01028683,2011 super output areas - lower layer,298,Males,693.0
2,2011,E01028683,2011 super output areas - lower layer,298,Females,685.0
3,2011,E01028683,2011 super output areas - lower layer,298,Lives in a household,1378.0
4,2011,E01028683,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 117 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_117.csv
trying records 2950000 - 2975000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2950000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01030350,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01030350,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01030350,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01030350,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01030350,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 118 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_118.csv
trying records 2975000 - 3000000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2975000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01030555,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01030555,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01030555,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01030555,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01030555,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 119 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_119.csv
trying records 3000000 - 3025000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3000000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01030803,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01030803,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01030803,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01030803,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01030803,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 120 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_120.csv
trying records 3025000 - 3050000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3025000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01031344,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01031344,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01031344,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01031344,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01031344,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 121 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_121.csv
trying records 3050000 - 3075000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3050000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01031552,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01031552,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01031552,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01031552,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01031552,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 122 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_122.csv
trying records 3075000 - 3100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3075000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01014403,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01014403,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01014403,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01014403,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01014403,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 123 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_123.csv
trying records 3100000 - 3125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01014632,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01014632,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01014632,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01014632,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01014632,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 124 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_124.csv
trying records 3125000 - 3150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3125000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01014569,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01014569,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01014569,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01014569,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01014569,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 125 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_125.csv
trying records 3150000 - 3175000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3150000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018975,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01018975,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01018975,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01018975,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01018975,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 126 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_126.csv
trying records 3175000 - 3200000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3175000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01015082,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01015082,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01015082,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01015082,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01015082,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 127 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_127.csv
trying records 3200000 - 3225000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3200000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01014987,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01014987,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01014987,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01014987,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01014987,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 128 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_128.csv
trying records 3225000 - 3250000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3225000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01015504,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01015504,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01015504,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01015504,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01015504,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 129 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_129.csv
trying records 3250000 - 3275000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3250000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01031912,2011 super output areas - lower layer,298,All usual residents,1366.0
1,2011,E01031912,2011 super output areas - lower layer,298,Males,688.0
2,2011,E01031912,2011 super output areas - lower layer,298,Females,678.0
3,2011,E01031912,2011 super output areas - lower layer,298,Lives in a household,1358.0
4,2011,E01031912,2011 super output areas - lower layer,298,Lives in a communal establishment,8.0

chunk 130 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_130.csv
trying records 3275000 - 3300000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3275000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01019963,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01019963,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01019963,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01019963,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01019963,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 131 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_131.csv
trying records 3300000 - 3325000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3300000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01020171,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01020171,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01020171,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01020171,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01020171,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 132 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_132.csv
trying records 3325000 - 3350000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3325000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01020399,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01020399,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01020399,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01020399,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01020399,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 133 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_133.csv
trying records 3350000 - 3375000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3350000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01022173,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01022173,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01022173,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01022173,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01022173,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 134 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_134.csv
trying records 3375000 - 3400000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3375000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01022352,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01022352,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01022352,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01022352,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01022352,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 135 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_135.csv
trying records 3400000 - 3425000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3400000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01029238,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01029238,2011 super output areas - lower layer,298,Males,0.0
2,2011,E01029238,2011 super output areas - lower layer,298,Females,0.0
3,2011,E01029238,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,E01029238,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 136 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_136.csv
trying records 3425000 - 3450000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3425000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01000047,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,W01000047,2011 super output areas - lower layer,298,Males,0.0
2,2011,W01000047,2011 super output areas - lower layer,298,Females,0.0
3,2011,W01000047,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,W01000047,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 137 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_137.csv
trying records 3450000 - 3475000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3450000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01000327,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,W01000327,2011 super output areas - lower layer,298,Males,0.0
2,2011,W01000327,2011 super output areas - lower layer,298,Females,0.0
3,2011,W01000327,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,W01000327,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 138 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_138.csv
trying records 3475000 - 3500000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3475000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01000570,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,W01000570,2011 super output areas - lower layer,298,Males,0.0
2,2011,W01000570,2011 super output areas - lower layer,298,Females,0.0
3,2011,W01000570,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,W01000570,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 139 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_139.csv
trying records 3500000 - 3525000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3500000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01000788,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,W01000788,2011 super output areas - lower layer,298,Males,0.0
2,2011,W01000788,2011 super output areas - lower layer,298,Females,0.0
3,2011,W01000788,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,W01000788,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 140 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_140.csv
trying records 3525000 - 3550000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3525000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01001046,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,W01001046,2011 super output areas - lower layer,298,Males,0.0
2,2011,W01001046,2011 super output areas - lower layer,298,Females,0.0
3,2011,W01001046,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,W01001046,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 141 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_141.csv
trying records 3550000 - 3575000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3550000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01001716,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,W01001716,2011 super output areas - lower layer,298,Males,0.0
2,2011,W01001716,2011 super output areas - lower layer,298,Females,0.0
3,2011,W01001716,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,W01001716,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 142 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_142.csv
trying records 3575000 - 3600000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3575000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01001319,2011 super output areas - lower layer,298,All usual residents,1646.0
1,2011,W01001319,2011 super output areas - lower layer,298,Males,820.0
2,2011,W01001319,2011 super output areas - lower layer,298,Females,826.0
3,2011,W01001319,2011 super output areas - lower layer,298,Lives in a household,1643.0
4,2011,W01001319,2011 super output areas - lower layer,298,Lives in a communal establishment,3.0

chunk 143 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_143.csv
trying records 3600000 - 3625000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3600000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,W01001569,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,W01001569,2011 super output areas - lower layer,298,Males,0.0
2,2011,W01001569,2011 super output areas - lower layer,298,Females,0.0
3,2011,W01001569,2011 super output areas - lower layer,298,Lives in a household,0.0
4,2011,W01001569,2011 super output areas - lower layer,298,Lives in a communal establishment,0.0

chunk 144 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks101ew_144.csv
trying records 3625000 - 3650000
http://www.nomisweb.co.uk/api/v01/dataset/NM_144_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=3625000

Empty DataFrame
Columns: [DATE, GEOGRAPHY_CODE, GEOGRAPHY_TYPE, GEOGRAPHY_TYPECODE, CELL_NAME, OBS_VALUE]
Index: []

downloading c2011ks102ew
trying records 0 - 25000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=0

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012334,2011 super output areas - lower layer,298,All usual residents,2466.0
1,2011,E01012334,2011 super output areas - lower layer,298,Age 0 to 4,161.0
2,2011,E01012334,2011 super output areas - lower layer,298,Age 5 to 7,134.0
3,2011,E01012334,2011 super output areas - lower layer,298,Age 8 to 9,80.0
4,2011,E01012334,2011 super output areas - lower layer,298,Age 10 to 14,169.0

chunk 0 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_00.csv
trying records 25000 - 50000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=25000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01020636,2011 super output areas - lower layer,298,Age 85 to 89,0.0
1,2011,E01020636,2011 super output areas - lower layer,298,Age 90 and over,0.0
2,2011,E01020636,2011 super output areas - lower layer,298,Mean Age,NaN
3,2011,E01020636,2011 super output areas - lower layer,298,Median Age,0.5
4,2011,E01020636,2011 super output areas - lower layer,298,All usual residents,0.0

chunk 1 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_01.csv
trying records 50000 - 75000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=50000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01020696,2011 super output areas - lower layer,298,Age 45 to 59,0.0
1,2011,E01020696,2011 super output areas - lower layer,298,Age 60 to 64,0.0
2,2011,E01020696,2011 super output areas - lower layer,298,Age 65 to 74,0.0
3,2011,E01020696,2011 super output areas - lower layer,298,Age 75 to 84,0.0
4,2011,E01020696,2011 super output areas - lower layer,298,Age 85 to 89,0.0

chunk 2 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_02.csv
trying records 75000 - 100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=75000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01020828,2011 super output areas - lower layer,298,Age 18 to 19,0.0
1,2011,E01020828,2011 super output areas - lower layer,298,Age 20 to 24,0.0
2,2011,E01020828,2011 super output areas - lower layer,298,Age 25 to 29,0.0
3,2011,E01020828,2011 super output areas - lower layer,298,Age 30 to 44,0.0
4,2011,E01020828,2011 super output areas - lower layer,298,Age 45 to 59,0.0

chunk 3 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_03.csv
trying records 100000 - 125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01032541,2011 super output areas - lower layer,298,Age 8 to 9,0.0
1,2011,E01032541,2011 super output areas - lower layer,298,Age 10 to 14,0.0
2,2011,E01032541,2011 super output areas - lower layer,298,Age 15,0.0
3,2011,E01032541,2011 super output areas - lower layer,298,Age 16 to 17,0.0
4,2011,E01032541,2011 super output areas - lower layer,298,Age 18 to 19,0.0

chunk 4 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_04.csv
trying records 125000 - 150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=125000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012051,2011 super output areas - lower layer,298,Median Age,35.0
1,2011,E01012051,2011 super output areas - lower layer,298,All usual residents,0.0
2,2011,E01012051,2011 super output areas - lower layer,298,Age 0 to 4,0.0
3,2011,E01012051,2011 super output areas - lower layer,298,Age 5 to 7,0.0
4,2011,E01012051,2011 super output areas - lower layer,298,Age 8 to 9,0.0

chunk 5 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_05.csv
trying records 150000 - 175000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=150000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027418,2011 super output areas - lower layer,298,Age 75 to 84,0.0
1,2011,E01027418,2011 super output areas - lower layer,298,Age 85 to 89,0.0
2,2011,E01027418,2011 super output areas - lower layer,298,Age 90 and over,0.0
3,2011,E01027418,2011 super output areas - lower layer,298,Mean Age,NaN
4,2011,E01027418,2011 super output areas - lower layer,298,Median Age,0.5

chunk 6 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_06.csv
trying records 175000 - 200000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=175000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027532,2011 super output areas - lower layer,298,Age 30 to 44,0.0
1,2011,E01027532,2011 super output areas - lower layer,298,Age 45 to 59,0.0
2,2011,E01027532,2011 super output areas - lower layer,298,Age 60 to 64,0.0
3,2011,E01027532,2011 super output areas - lower layer,298,Age 65 to 74,0.0
4,2011,E01027532,2011 super output areas - lower layer,298,Age 75 to 84,0.0

chunk 7 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_07.csv
trying records 200000 - 225000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=200000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012152,2011 super output areas - lower layer,298,Age 16 to 17,0.0
1,2011,E01012152,2011 super output areas - lower layer,298,Age 18 to 19,0.0
2,2011,E01012152,2011 super output areas - lower layer,298,Age 20 to 24,0.0
3,2011,E01012152,2011 super output areas - lower layer,298,Age 25 to 29,0.0
4,2011,E01012152,2011 super output areas - lower layer,298,Age 30 to 44,0.0

chunk 8 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_08.csv
trying records 225000 - 250000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=225000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012284,2011 super output areas - lower layer,298,Age 5 to 7,0.0
1,2011,E01012284,2011 super output areas - lower layer,298,Age 8 to 9,0.0
2,2011,E01012284,2011 super output areas - lower layer,298,Age 10 to 14,0.0
3,2011,E01012284,2011 super output areas - lower layer,298,Age 15,0.0
4,2011,E01012284,2011 super output areas - lower layer,298,Age 16 to 17,0.0

chunk 9 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_09.csv
trying records 250000 - 275000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=250000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008271,2011 super output areas - lower layer,298,Mean Age,NaN
1,2011,E01008271,2011 super output areas - lower layer,298,Median Age,0.5
2,2011,E01008271,2011 super output areas - lower layer,298,All usual residents,0.0
3,2011,E01008271,2011 super output areas - lower layer,298,Age 0 to 4,0.0
4,2011,E01008271,2011 super output areas - lower layer,298,Age 5 to 7,0.0

chunk 10 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_10.csv
trying records 275000 - 300000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=275000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008377,2011 super output areas - lower layer,298,Age 65 to 74,0.0
1,2011,E01008377,2011 super output areas - lower layer,298,Age 75 to 84,0.0
2,2011,E01008377,2011 super output areas - lower layer,298,Age 85 to 89,0.0
3,2011,E01008377,2011 super output areas - lower layer,298,Age 90 and over,0.0
4,2011,E01008377,2011 super output areas - lower layer,298,Mean Age,NaN

chunk 11 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_11.csv
trying records 300000 - 325000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=300000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008290,2011 super output areas - lower layer,298,Age 25 to 29,0.0
1,2011,E01008290,2011 super output areas - lower layer,298,Age 30 to 44,0.0
2,2011,E01008290,2011 super output areas - lower layer,298,Age 45 to 59,0.0
3,2011,E01008290,2011 super output areas - lower layer,298,Age 60 to 64,0.0
4,2011,E01008290,2011 super output areas - lower layer,298,Age 65 to 74,0.0

chunk 12 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_12.csv
trying records 325000 - 350000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=325000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008501,2011 super output areas - lower layer,298,Age 15,0.0
1,2011,E01008501,2011 super output areas - lower layer,298,Age 16 to 17,0.0
2,2011,E01008501,2011 super output areas - lower layer,298,Age 18 to 19,0.0
3,2011,E01008501,2011 super output areas - lower layer,298,Age 20 to 24,0.0
4,2011,E01008501,2011 super output areas - lower layer,298,Age 25 to 29,0.0

chunk 13 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_13.csv
trying records 350000 - 375000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=350000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008592,2011 super output areas - lower layer,298,Age 0 to 4,92.0
1,2011,E01008592,2011 super output areas - lower layer,298,Age 5 to 7,39.0
2,2011,E01008592,2011 super output areas - lower layer,298,Age 8 to 9,20.0
3,2011,E01008592,2011 super output areas - lower layer,298,Age 10 to 14,60.0
4,2011,E01008592,2011 super output areas - lower layer,298,Age 15,15.0

chunk 14 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_14.csv
trying records 375000 - 400000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=375000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008859,2011 super output areas - lower layer,298,Age 90 and over,0.0
1,2011,E01008859,2011 super output areas - lower layer,298,Mean Age,NaN
2,2011,E01008859,2011 super output areas - lower layer,298,Median Age,0.5
3,2011,E01008859,2011 super output areas - lower layer,298,All usual residents,0.0
4,2011,E01008859,2011 super output areas - lower layer,298,Age 0 to 4,0.0

chunk 15 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_15.csv
trying records 400000 - 425000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=400000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008774,2011 super output areas - lower layer,298,Age 60 to 64,0.0
1,2011,E01008774,2011 super output areas - lower layer,298,Age 65 to 74,0.0
2,2011,E01008774,2011 super output areas - lower layer,298,Age 75 to 84,0.0
3,2011,E01008774,2011 super output areas - lower layer,298,Age 85 to 89,0.0
4,2011,E01008774,2011 super output areas - lower layer,298,Age 90 and over,0.0

chunk 16 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_16.csv
trying records 425000 - 450000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=425000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012621,2011 super output areas - lower layer,298,Age 20 to 24,0.0
1,2011,E01012621,2011 super output areas - lower layer,298,Age 25 to 29,0.0
2,2011,E01012621,2011 super output areas - lower layer,298,Age 30 to 44,0.0
3,2011,E01012621,2011 super output areas - lower layer,298,Age 45 to 59,0.0
4,2011,E01012621,2011 super output areas - lower layer,298,Age 60 to 64,0.0

chunk 17 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_17.csv
trying records 450000 - 475000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=450000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012685,2011 super output areas - lower layer,298,Age 10 to 14,0.0
1,2011,E01012685,2011 super output areas - lower layer,298,Age 15,0.0
2,2011,E01012685,2011 super output areas - lower layer,298,Age 16 to 17,0.0
3,2011,E01012685,2011 super output areas - lower layer,298,Age 18 to 19,0.0
4,2011,E01012685,2011 super output areas - lower layer,298,Age 20 to 24,0.0

chunk 18 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_18.csv
trying records 475000 - 500000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=475000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018464,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01018464,2011 super output areas - lower layer,298,Age 0 to 4,0.0
2,2011,E01018464,2011 super output areas - lower layer,298,Age 5 to 7,0.0
3,2011,E01018464,2011 super output areas - lower layer,298,Age 8 to 9,0.0
4,2011,E01018464,2011 super output areas - lower layer,298,Age 10 to 14,0.0

chunk 19 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_19.csv
trying records 500000 - 525000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=500000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018604,2011 super output areas - lower layer,298,Age 85 to 89,0.0
1,2011,E01018604,2011 super output areas - lower layer,298,Age 90 and over,0.0
2,2011,E01018604,2011 super output areas - lower layer,298,Mean Age,NaN
3,2011,E01018604,2011 super output areas - lower layer,298,Median Age,0.5
4,2011,E01018604,2011 super output areas - lower layer,298,All usual residents,0.0

chunk 20 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_20.csv
trying records 525000 - 550000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=525000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018344,2011 super output areas - lower layer,298,Age 45 to 59,0.0
1,2011,E01018344,2011 super output areas - lower layer,298,Age 60 to 64,0.0
2,2011,E01018344,2011 super output areas - lower layer,298,Age 65 to 74,0.0
3,2011,E01018344,2011 super output areas - lower layer,298,Age 75 to 84,0.0
4,2011,E01018344,2011 super output areas - lower layer,298,Age 85 to 89,0.0

chunk 21 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_21.csv
trying records 550000 - 575000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=550000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01018698,2011 super output areas - lower layer,298,Age 18 to 19,0.0
1,2011,E01018698,2011 super output areas - lower layer,298,Age 20 to 24,0.0
2,2011,E01018698,2011 super output areas - lower layer,298,Age 25 to 29,0.0
3,2011,E01018698,2011 super output areas - lower layer,298,Age 30 to 44,0.0
4,2011,E01018698,2011 super output areas - lower layer,298,Age 45 to 59,0.0

chunk 22 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_22.csv
trying records 575000 - 600000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=575000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012387,2011 super output areas - lower layer,298,Age 8 to 9,0.0
1,2011,E01012387,2011 super output areas - lower layer,298,Age 10 to 14,0.0
2,2011,E01012387,2011 super output areas - lower layer,298,Age 15,0.0
3,2011,E01012387,2011 super output areas - lower layer,298,Age 16 to 17,0.0
4,2011,E01012387,2011 super output areas - lower layer,298,Age 18 to 19,0.0

chunk 23 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_23.csv
trying records 600000 - 625000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=600000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012551,2011 super output areas - lower layer,298,Median Age,0.5
1,2011,E01012551,2011 super output areas - lower layer,298,All usual residents,0.0
2,2011,E01012551,2011 super output areas - lower layer,298,Age 0 to 4,0.0
3,2011,E01012551,2011 super output areas - lower layer,298,Age 5 to 7,0.0
4,2011,E01012551,2011 super output areas - lower layer,298,Age 8 to 9,0.0

chunk 24 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_24.csv
trying records 625000 - 650000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=625000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01019118,2011 super output areas - lower layer,298,Age 75 to 84,0.0
1,2011,E01019118,2011 super output areas - lower layer,298,Age 85 to 89,0.0
2,2011,E01019118,2011 super output areas - lower layer,298,Age 90 and over,0.0
3,2011,E01019118,2011 super output areas - lower layer,298,Mean Age,NaN
4,2011,E01019118,2011 super output areas - lower layer,298,Median Age,0.5

chunk 25 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_25.csv
trying records 650000 - 675000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=650000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01019237,2011 super output areas - lower layer,298,Age 30 to 44,0.0
1,2011,E01019237,2011 super output areas - lower layer,298,Age 45 to 59,0.0
2,2011,E01019237,2011 super output areas - lower layer,298,Age 60 to 64,0.0
3,2011,E01019237,2011 super output areas - lower layer,298,Age 65 to 74,0.0
4,2011,E01019237,2011 super output areas - lower layer,298,Age 75 to 84,0.0

chunk 26 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_26.csv
trying records 675000 - 700000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=675000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01019336,2011 super output areas - lower layer,298,Age 16 to 17,0.0
1,2011,E01019336,2011 super output areas - lower layer,298,Age 18 to 19,0.0
2,2011,E01019336,2011 super output areas - lower layer,298,Age 20 to 24,0.0
3,2011,E01019336,2011 super output areas - lower layer,298,Age 25 to 29,0.0
4,2011,E01019336,2011 super output areas - lower layer,298,Age 30 to 44,0.0

chunk 27 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_27.csv
trying records 700000 - 725000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=700000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01004890,2011 super output areas - lower layer,298,Age 5 to 7,43.0
1,2011,E01004890,2011 super output areas - lower layer,298,Age 8 to 9,21.0
2,2011,E01004890,2011 super output areas - lower layer,298,Age 10 to 14,81.0
3,2011,E01004890,2011 super output areas - lower layer,298,Age 15,11.0
4,2011,E01004890,2011 super output areas - lower layer,298,Age 16 to 17,35.0

chunk 28 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_28.csv
trying records 725000 - 750000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=725000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01004916,2011 super output areas - lower layer,298,Mean Age,NaN
1,2011,E01004916,2011 super output areas - lower layer,298,Median Age,0.5
2,2011,E01004916,2011 super output areas - lower layer,298,All usual residents,0.0
3,2011,E01004916,2011 super output areas - lower layer,298,Age 0 to 4,0.0
4,2011,E01004916,2011 super output areas - lower layer,298,Age 5 to 7,0.0

chunk 29 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_29.csv
trying records 750000 - 775000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=750000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01004949,2011 super output areas - lower layer,298,Age 65 to 74,0.0
1,2011,E01004949,2011 super output areas - lower layer,298,Age 75 to 84,0.0
2,2011,E01004949,2011 super output areas - lower layer,298,Age 85 to 89,0.0
3,2011,E01004949,2011 super output areas - lower layer,298,Age 90 and over,0.0
4,2011,E01004949,2011 super output areas - lower layer,298,Mean Age,NaN

chunk 30 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_30.csv
trying records 775000 - 800000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=775000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005253,2011 super output areas - lower layer,298,Age 25 to 29,0.0
1,2011,E01005253,2011 super output areas - lower layer,298,Age 30 to 44,0.0
2,2011,E01005253,2011 super output areas - lower layer,298,Age 45 to 59,0.0
3,2011,E01005253,2011 super output areas - lower layer,298,Age 60 to 64,0.0
4,2011,E01005253,2011 super output areas - lower layer,298,Age 65 to 74,0.0

chunk 31 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_31.csv
trying records 800000 - 825000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=800000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005302,2011 super output areas - lower layer,298,Age 15,0.0
1,2011,E01005302,2011 super output areas - lower layer,298,Age 16 to 17,0.0
2,2011,E01005302,2011 super output areas - lower layer,298,Age 18 to 19,0.0
3,2011,E01005302,2011 super output areas - lower layer,298,Age 20 to 24,0.0
4,2011,E01005302,2011 super output areas - lower layer,298,Age 25 to 29,0.0

chunk 32 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_32.csv
trying records 825000 - 850000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=825000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005085,2011 super output areas - lower layer,298,Age 0 to 4,0.0
1,2011,E01005085,2011 super output areas - lower layer,298,Age 5 to 7,0.0
2,2011,E01005085,2011 super output areas - lower layer,298,Age 8 to 9,0.0
3,2011,E01005085,2011 super output areas - lower layer,298,Age 10 to 14,0.0
4,2011,E01005085,2011 super output areas - lower layer,298,Age 15,0.0

chunk 33 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_33.csv
trying records 850000 - 875000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=850000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005456,2011 super output areas - lower layer,298,Age 90 and over,0.0
1,2011,E01005456,2011 super output areas - lower layer,298,Mean Age,NaN
2,2011,E01005456,2011 super output areas - lower layer,298,Median Age,0.5
3,2011,E01005456,2011 super output areas - lower layer,298,All usual residents,0.0
4,2011,E01005456,2011 super output areas - lower layer,298,Age 0 to 4,0.0

chunk 34 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_34.csv
trying records 875000 - 900000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=875000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005598,2011 super output areas - lower layer,298,Age 60 to 64,0.0
1,2011,E01005598,2011 super output areas - lower layer,298,Age 65 to 74,0.0
2,2011,E01005598,2011 super output areas - lower layer,298,Age 75 to 84,0.0
3,2011,E01005598,2011 super output areas - lower layer,298,Age 85 to 89,0.0
4,2011,E01005598,2011 super output areas - lower layer,298,Age 90 and over,0.0

chunk 35 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_35.csv
trying records 900000 - 925000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=900000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005543,2011 super output areas - lower layer,298,Age 20 to 24,0.0
1,2011,E01005543,2011 super output areas - lower layer,298,Age 25 to 29,0.0
2,2011,E01005543,2011 super output areas - lower layer,298,Age 30 to 44,0.0
3,2011,E01005543,2011 super output areas - lower layer,298,Age 45 to 59,0.0
4,2011,E01005543,2011 super output areas - lower layer,298,Age 60 to 64,0.0

chunk 36 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_36.csv
trying records 925000 - 950000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=925000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005624,2011 super output areas - lower layer,298,Age 10 to 14,0.0
1,2011,E01005624,2011 super output areas - lower layer,298,Age 15,0.0
2,2011,E01005624,2011 super output areas - lower layer,298,Age 16 to 17,0.0
3,2011,E01005624,2011 super output areas - lower layer,298,Age 18 to 19,0.0
4,2011,E01005624,2011 super output areas - lower layer,298,Age 20 to 24,0.0

chunk 37 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_37.csv
trying records 950000 - 975000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=950000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005869,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01005869,2011 super output areas - lower layer,298,Age 0 to 4,0.0
2,2011,E01005869,2011 super output areas - lower layer,298,Age 5 to 7,0.0
3,2011,E01005869,2011 super output areas - lower layer,298,Age 8 to 9,0.0
4,2011,E01005869,2011 super output areas - lower layer,298,Age 10 to 14,0.0

chunk 38 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_38.csv
trying records 975000 - 1000000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=975000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01005773,2011 super output areas - lower layer,298,Age 85 to 89,0.0
1,2011,E01005773,2011 super output areas - lower layer,298,Age 90 and over,0.0
2,2011,E01005773,2011 super output areas - lower layer,298,Mean Age,NaN
3,2011,E01005773,2011 super output areas - lower layer,298,Median Age,0.5
4,2011,E01005773,2011 super output areas - lower layer,298,All usual residents,0.0

chunk 39 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_39.csv
trying records 1000000 - 1025000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1000000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006069,2011 super output areas - lower layer,298,Age 45 to 59,0.0
1,2011,E01006069,2011 super output areas - lower layer,298,Age 60 to 64,0.0
2,2011,E01006069,2011 super output areas - lower layer,298,Age 65 to 74,0.0
3,2011,E01006069,2011 super output areas - lower layer,298,Age 75 to 84,0.0
4,2011,E01006069,2011 super output areas - lower layer,298,Age 85 to 89,0.0

chunk 40 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_40.csv
trying records 1025000 - 1050000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1025000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006046,2011 super output areas - lower layer,298,Age 18 to 19,0.0
1,2011,E01006046,2011 super output areas - lower layer,298,Age 20 to 24,0.0
2,2011,E01006046,2011 super output areas - lower layer,298,Age 25 to 29,0.0
3,2011,E01006046,2011 super output areas - lower layer,298,Age 30 to 44,0.0
4,2011,E01006046,2011 super output areas - lower layer,298,Age 45 to 59,0.0

chunk 41 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_41.csv
trying records 1050000 - 1075000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1050000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006196,2011 super output areas - lower layer,298,Age 8 to 9,57.0
1,2011,E01006196,2011 super output areas - lower layer,298,Age 10 to 14,112.0
2,2011,E01006196,2011 super output areas - lower layer,298,Age 15,19.0
3,2011,E01006196,2011 super output areas - lower layer,298,Age 16 to 17,57.0
4,2011,E01006196,2011 super output areas - lower layer,298,Age 18 to 19,34.0

chunk 42 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_42.csv
trying records 1075000 - 1100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1075000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006353,2011 super output areas - lower layer,298,Median Age,0.5
1,2011,E01006353,2011 super output areas - lower layer,298,All usual residents,0.0
2,2011,E01006353,2011 super output areas - lower layer,298,Age 0 to 4,0.0
3,2011,E01006353,2011 super output areas - lower layer,298,Age 5 to 7,0.0
4,2011,E01006353,2011 super output areas - lower layer,298,Age 8 to 9,0.0

chunk 43 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_43.csv
trying records 1100000 - 1125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006246,2011 super output areas - lower layer,298,Age 75 to 84,0.0
1,2011,E01006246,2011 super output areas - lower layer,298,Age 85 to 89,0.0
2,2011,E01006246,2011 super output areas - lower layer,298,Age 90 and over,0.0
3,2011,E01006246,2011 super output areas - lower layer,298,Mean Age,NaN
4,2011,E01006246,2011 super output areas - lower layer,298,Median Age,0.5

chunk 44 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_44.csv
trying records 1125000 - 1150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1125000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01024979,2011 super output areas - lower layer,298,Age 30 to 44,0.0
1,2011,E01024979,2011 super output areas - lower layer,298,Age 45 to 59,0.0
2,2011,E01024979,2011 super output areas - lower layer,298,Age 60 to 64,0.0
3,2011,E01024979,2011 super output areas - lower layer,298,Age 65 to 74,0.0
4,2011,E01024979,2011 super output areas - lower layer,298,Age 75 to 84,0.0

chunk 45 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_45.csv
trying records 1150000 - 1175000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1150000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01024994,2011 super output areas - lower layer,298,Age 16 to 17,0.0
1,2011,E01024994,2011 super output areas - lower layer,298,Age 18 to 19,0.0
2,2011,E01024994,2011 super output areas - lower layer,298,Age 20 to 24,0.0
3,2011,E01024994,2011 super output areas - lower layer,298,Age 25 to 29,0.0
4,2011,E01024994,2011 super output areas - lower layer,298,Age 30 to 44,0.0

chunk 46 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_46.csv
trying records 1175000 - 1200000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1175000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025173,2011 super output areas - lower layer,298,Age 5 to 7,0.0
1,2011,E01025173,2011 super output areas - lower layer,298,Age 8 to 9,0.0
2,2011,E01025173,2011 super output areas - lower layer,298,Age 10 to 14,0.0
3,2011,E01025173,2011 super output areas - lower layer,298,Age 15,0.0
4,2011,E01025173,2011 super output areas - lower layer,298,Age 16 to 17,0.0

chunk 47 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_47.csv
trying records 1200000 - 1225000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1200000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025186,2011 super output areas - lower layer,298,Mean Age,NaN
1,2011,E01025186,2011 super output areas - lower layer,298,Median Age,0.5
2,2011,E01025186,2011 super output areas - lower layer,298,All usual residents,0.0
3,2011,E01025186,2011 super output areas - lower layer,298,Age 0 to 4,0.0
4,2011,E01025186,2011 super output areas - lower layer,298,Age 5 to 7,0.0

chunk 48 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_48.csv
trying records 1225000 - 1250000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1225000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025329,2011 super output areas - lower layer,298,Age 65 to 74,0.0
1,2011,E01025329,2011 super output areas - lower layer,298,Age 75 to 84,0.0
2,2011,E01025329,2011 super output areas - lower layer,298,Age 85 to 89,0.0
3,2011,E01025329,2011 super output areas - lower layer,298,Age 90 and over,0.0
4,2011,E01025329,2011 super output areas - lower layer,298,Mean Age,NaN

chunk 49 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_49.csv
trying records 1250000 - 1275000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1250000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025407,2011 super output areas - lower layer,298,Age 25 to 29,0.0
1,2011,E01025407,2011 super output areas - lower layer,298,Age 30 to 44,0.0
2,2011,E01025407,2011 super output areas - lower layer,298,Age 45 to 59,0.0
3,2011,E01025407,2011 super output areas - lower layer,298,Age 60 to 64,0.0
4,2011,E01025407,2011 super output areas - lower layer,298,Age 65 to 74,0.0

chunk 50 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_50.csv
trying records 1275000 - 1300000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1275000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01025492,2011 super output areas - lower layer,298,Age 15,0.0
1,2011,E01025492,2011 super output areas - lower layer,298,Age 16 to 17,0.0
2,2011,E01025492,2011 super output areas - lower layer,298,Age 18 to 19,0.0
3,2011,E01025492,2011 super output areas - lower layer,298,Age 20 to 24,0.0
4,2011,E01025492,2011 super output areas - lower layer,298,Age 25 to 29,0.0

chunk 51 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_51.csv
trying records 1300000 - 1325000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1300000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006508,2011 super output areas - lower layer,298,Age 0 to 4,0.0
1,2011,E01006508,2011 super output areas - lower layer,298,Age 5 to 7,0.0
2,2011,E01006508,2011 super output areas - lower layer,298,Age 8 to 9,0.0
3,2011,E01006508,2011 super output areas - lower layer,298,Age 10 to 14,0.0
4,2011,E01006508,2011 super output areas - lower layer,298,Age 15,0.0

chunk 52 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_52.csv
trying records 1325000 - 1350000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1325000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006734,2011 super output areas - lower layer,298,Age 90 and over,0.0
1,2011,E01006734,2011 super output areas - lower layer,298,Mean Age,NaN
2,2011,E01006734,2011 super output areas - lower layer,298,Median Age,0.5
3,2011,E01006734,2011 super output areas - lower layer,298,All usual residents,0.0
4,2011,E01006734,2011 super output areas - lower layer,298,Age 0 to 4,0.0

chunk 53 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_53.csv
trying records 1350000 - 1375000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1350000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006570,2011 super output areas - lower layer,298,Age 60 to 64,0.0
1,2011,E01006570,2011 super output areas - lower layer,298,Age 65 to 74,0.0
2,2011,E01006570,2011 super output areas - lower layer,298,Age 75 to 84,0.0
3,2011,E01006570,2011 super output areas - lower layer,298,Age 85 to 89,0.0
4,2011,E01006570,2011 super output areas - lower layer,298,Age 90 and over,0.0

chunk 54 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_54.csv
trying records 1375000 - 1400000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1375000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006594,2011 super output areas - lower layer,298,Age 20 to 24,0.0
1,2011,E01006594,2011 super output areas - lower layer,298,Age 25 to 29,0.0
2,2011,E01006594,2011 super output areas - lower layer,298,Age 30 to 44,0.0
3,2011,E01006594,2011 super output areas - lower layer,298,Age 45 to 59,0.0
4,2011,E01006594,2011 super output areas - lower layer,298,Age 60 to 64,0.0

chunk 55 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_55.csv
trying records 1400000 - 1425000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1400000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007060,2011 super output areas - lower layer,298,Age 10 to 14,74.0
1,2011,E01007060,2011 super output areas - lower layer,298,Age 15,18.0
2,2011,E01007060,2011 super output areas - lower layer,298,Age 16 to 17,31.0
3,2011,E01007060,2011 super output areas - lower layer,298,Age 18 to 19,34.0
4,2011,E01007060,2011 super output areas - lower layer,298,Age 20 to 24,77.0

chunk 56 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_56.csv
trying records 1425000 - 1450000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1425000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007041,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01007041,2011 super output areas - lower layer,298,Age 0 to 4,0.0
2,2011,E01007041,2011 super output areas - lower layer,298,Age 5 to 7,0.0
3,2011,E01007041,2011 super output areas - lower layer,298,Age 8 to 9,0.0
4,2011,E01007041,2011 super output areas - lower layer,298,Age 10 to 14,0.0

chunk 57 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_57.csv
trying records 1450000 - 1475000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1450000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01006818,2011 super output areas - lower layer,298,Age 85 to 89,0.0
1,2011,E01006818,2011 super output areas - lower layer,298,Age 90 and over,0.0
2,2011,E01006818,2011 super output areas - lower layer,298,Mean Age,NaN
3,2011,E01006818,2011 super output areas - lower layer,298,Median Age,0.5
4,2011,E01006818,2011 super output areas - lower layer,298,All usual residents,0.0

chunk 58 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_58.csv
trying records 1475000 - 1500000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1475000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007219,2011 super output areas - lower layer,298,Age 45 to 59,0.0
1,2011,E01007219,2011 super output areas - lower layer,298,Age 60 to 64,0.0
2,2011,E01007219,2011 super output areas - lower layer,298,Age 65 to 74,0.0
3,2011,E01007219,2011 super output areas - lower layer,298,Age 75 to 84,0.0
4,2011,E01007219,2011 super output areas - lower layer,298,Age 85 to 89,0.0

chunk 59 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_59.csv
trying records 1500000 - 1525000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1500000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007197,2011 super output areas - lower layer,298,Age 18 to 19,0.0
1,2011,E01007197,2011 super output areas - lower layer,298,Age 20 to 24,0.0
2,2011,E01007197,2011 super output areas - lower layer,298,Age 25 to 29,0.0
3,2011,E01007197,2011 super output areas - lower layer,298,Age 30 to 44,0.0
4,2011,E01007197,2011 super output areas - lower layer,298,Age 45 to 59,0.0

chunk 60 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_60.csv
trying records 1525000 - 1550000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1525000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012944,2011 super output areas - lower layer,298,Age 8 to 9,0.0
1,2011,E01012944,2011 super output areas - lower layer,298,Age 10 to 14,0.0
2,2011,E01012944,2011 super output areas - lower layer,298,Age 15,0.0
3,2011,E01012944,2011 super output areas - lower layer,298,Age 16 to 17,0.0
4,2011,E01012944,2011 super output areas - lower layer,298,Age 18 to 19,0.0

chunk 61 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_61.csv
trying records 1550000 - 1575000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1550000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01013026,2011 super output areas - lower layer,298,Median Age,0.5
1,2011,E01013026,2011 super output areas - lower layer,298,All usual residents,0.0
2,2011,E01013026,2011 super output areas - lower layer,298,Age 0 to 4,0.0
3,2011,E01013026,2011 super output areas - lower layer,298,Age 5 to 7,0.0
4,2011,E01013026,2011 super output areas - lower layer,298,Age 8 to 9,0.0

chunk 62 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_62.csv
trying records 1575000 - 1600000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1575000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012788,2011 super output areas - lower layer,298,Age 75 to 84,0.0
1,2011,E01012788,2011 super output areas - lower layer,298,Age 85 to 89,0.0
2,2011,E01012788,2011 super output areas - lower layer,298,Age 90 and over,0.0
3,2011,E01012788,2011 super output areas - lower layer,298,Mean Age,NaN
4,2011,E01012788,2011 super output areas - lower layer,298,Median Age,0.5

chunk 63 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_63.csv
trying records 1600000 - 1625000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1600000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01012900,2011 super output areas - lower layer,298,Age 30 to 44,0.0
1,2011,E01012900,2011 super output areas - lower layer,298,Age 45 to 59,0.0
2,2011,E01012900,2011 super output areas - lower layer,298,Age 60 to 64,0.0
3,2011,E01012900,2011 super output areas - lower layer,298,Age 65 to 74,0.0
4,2011,E01012900,2011 super output areas - lower layer,298,Age 75 to 84,0.0

chunk 64 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_64.csv
trying records 1625000 - 1650000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1625000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01013158,2011 super output areas - lower layer,298,Age 16 to 17,0.0
1,2011,E01013158,2011 super output areas - lower layer,298,Age 18 to 19,0.0
2,2011,E01013158,2011 super output areas - lower layer,298,Age 20 to 24,0.0
3,2011,E01013158,2011 super output areas - lower layer,298,Age 25 to 29,0.0
4,2011,E01013158,2011 super output areas - lower layer,298,Age 30 to 44,0.0

chunk 65 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_65.csv
trying records 1650000 - 1675000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1650000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01013314,2011 super output areas - lower layer,298,Age 5 to 7,0.0
1,2011,E01013314,2011 super output areas - lower layer,298,Age 8 to 9,0.0
2,2011,E01013314,2011 super output areas - lower layer,298,Age 10 to 14,0.0
3,2011,E01013314,2011 super output areas - lower layer,298,Age 15,0.0
4,2011,E01013314,2011 super output areas - lower layer,298,Age 16 to 17,0.0

chunk 66 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_66.csv
trying records 1675000 - 1700000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1675000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01013382,2011 super output areas - lower layer,298,Mean Age,NaN
1,2011,E01013382,2011 super output areas - lower layer,298,Median Age,0.5
2,2011,E01013382,2011 super output areas - lower layer,298,All usual residents,0.0
3,2011,E01013382,2011 super output areas - lower layer,298,Age 0 to 4,0.0
4,2011,E01013382,2011 super output areas - lower layer,298,Age 5 to 7,0.0

chunk 67 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_67.csv
trying records 1700000 - 1725000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1700000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027586,2011 super output areas - lower layer,298,Age 65 to 74,0.0
1,2011,E01027586,2011 super output areas - lower layer,298,Age 75 to 84,0.0
2,2011,E01027586,2011 super output areas - lower layer,298,Age 85 to 89,0.0
3,2011,E01027586,2011 super output areas - lower layer,298,Age 90 and over,0.0
4,2011,E01027586,2011 super output areas - lower layer,298,Mean Age,NaN

chunk 68 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_68.csv
trying records 1725000 - 1750000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1725000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027690,2011 super output areas - lower layer,298,Age 25 to 29,0.0
1,2011,E01027690,2011 super output areas - lower layer,298,Age 30 to 44,0.0
2,2011,E01027690,2011 super output areas - lower layer,298,Age 45 to 59,0.0
3,2011,E01027690,2011 super output areas - lower layer,298,Age 60 to 64,0.0
4,2011,E01027690,2011 super output areas - lower layer,298,Age 65 to 74,0.0

chunk 69 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_69.csv
trying records 1750000 - 1775000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1750000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027794,2011 super output areas - lower layer,298,Age 15,31.0
1,2011,E01027794,2011 super output areas - lower layer,298,Age 16 to 17,47.0
2,2011,E01027794,2011 super output areas - lower layer,298,Age 18 to 19,35.0
3,2011,E01027794,2011 super output areas - lower layer,298,Age 20 to 24,61.0
4,2011,E01027794,2011 super output areas - lower layer,298,Age 25 to 29,66.0

chunk 70 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_70.csv
trying records 1775000 - 1800000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1775000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01027886,2011 super output areas - lower layer,298,Age 0 to 4,0.0
1,2011,E01027886,2011 super output areas - lower layer,298,Age 5 to 7,0.0
2,2011,E01027886,2011 super output areas - lower layer,298,Age 8 to 9,0.0
3,2011,E01027886,2011 super output areas - lower layer,298,Age 10 to 14,0.0
4,2011,E01027886,2011 super output areas - lower layer,298,Age 15,0.0

chunk 71 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_71.csv
trying records 1800000 - 1825000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1800000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007336,2011 super output areas - lower layer,298,Age 90 and over,0.0
1,2011,E01007336,2011 super output areas - lower layer,298,Mean Age,NaN
2,2011,E01007336,2011 super output areas - lower layer,298,Median Age,0.5
3,2011,E01007336,2011 super output areas - lower layer,298,All usual residents,0.0
4,2011,E01007336,2011 super output areas - lower layer,298,Age 0 to 4,0.0

chunk 72 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_72.csv
trying records 1825000 - 1850000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1825000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007636,2011 super output areas - lower layer,298,Age 60 to 64,0.0
1,2011,E01007636,2011 super output areas - lower layer,298,Age 65 to 74,0.0
2,2011,E01007636,2011 super output areas - lower layer,298,Age 75 to 84,0.0
3,2011,E01007636,2011 super output areas - lower layer,298,Age 85 to 89,0.0
4,2011,E01007636,2011 super output areas - lower layer,298,Age 90 and over,0.0

chunk 73 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_73.csv
trying records 1850000 - 1875000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1850000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007530,2011 super output areas - lower layer,298,Age 20 to 24,0.0
1,2011,E01007530,2011 super output areas - lower layer,298,Age 25 to 29,0.0
2,2011,E01007530,2011 super output areas - lower layer,298,Age 30 to 44,0.0
3,2011,E01007530,2011 super output areas - lower layer,298,Age 45 to 59,0.0
4,2011,E01007530,2011 super output areas - lower layer,298,Age 60 to 64,0.0

chunk 74 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_74.csv
trying records 1875000 - 1900000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1875000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007795,2011 super output areas - lower layer,298,Age 10 to 14,0.0
1,2011,E01007795,2011 super output areas - lower layer,298,Age 15,0.0
2,2011,E01007795,2011 super output areas - lower layer,298,Age 16 to 17,0.0
3,2011,E01007795,2011 super output areas - lower layer,298,Age 18 to 19,0.0
4,2011,E01007795,2011 super output areas - lower layer,298,Age 20 to 24,0.0

chunk 75 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_75.csv
trying records 1900000 - 1925000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1900000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007676,2011 super output areas - lower layer,298,All usual residents,0.0
1,2011,E01007676,2011 super output areas - lower layer,298,Age 0 to 4,0.0
2,2011,E01007676,2011 super output areas - lower layer,298,Age 5 to 7,0.0
3,2011,E01007676,2011 super output areas - lower layer,298,Age 8 to 9,0.0
4,2011,E01007676,2011 super output areas - lower layer,298,Age 10 to 14,0.0

chunk 76 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_76.csv
trying records 1925000 - 1950000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1925000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008063,2011 super output areas - lower layer,298,Age 85 to 89,0.0
1,2011,E01008063,2011 super output areas - lower layer,298,Age 90 and over,0.0
2,2011,E01008063,2011 super output areas - lower layer,298,Mean Age,NaN
3,2011,E01008063,2011 super output areas - lower layer,298,Median Age,0.5
4,2011,E01008063,2011 super output areas - lower layer,298,All usual residents,0.0

chunk 77 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_77.csv
trying records 1950000 - 1975000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1950000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01007953,2011 super output areas - lower layer,298,Age 45 to 59,0.0
1,2011,E01007953,2011 super output areas - lower layer,298,Age 60 to 64,0.0
2,2011,E01007953,2011 super output areas - lower layer,298,Age 65 to 74,0.0
3,2011,E01007953,2011 super output areas - lower layer,298,Age 75 to 84,0.0
4,2011,E01007953,2011 super output areas - lower layer,298,Age 85 to 89,0.0

chunk 78 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_78.csv
trying records 1975000 - 2000000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=1975000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01008028,2011 super output areas - lower layer,298,Age 18 to 19,0.0
1,2011,E01008028,2011 super output areas - lower layer,298,Age 20 to 24,0.0
2,2011,E01008028,2011 super output areas - lower layer,298,Age 25 to 29,0.0
3,2011,E01008028,2011 super output areas - lower layer,298,Age 30 to 44,0.0
4,2011,E01008028,2011 super output areas - lower layer,298,Age 45 to 59,0.0

chunk 79 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_79.csv
trying records 2000000 - 2025000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2000000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010769,2011 super output areas - lower layer,298,Age 8 to 9,0.0
1,2011,E01010769,2011 super output areas - lower layer,298,Age 10 to 14,0.0
2,2011,E01010769,2011 super output areas - lower layer,298,Age 15,0.0
3,2011,E01010769,2011 super output areas - lower layer,298,Age 16 to 17,0.0
4,2011,E01010769,2011 super output areas - lower layer,298,Age 18 to 19,0.0

chunk 80 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_80.csv
trying records 2025000 - 2050000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2025000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010854,2011 super output areas - lower layer,298,Median Age,0.5
1,2011,E01010854,2011 super output areas - lower layer,298,All usual residents,0.0
2,2011,E01010854,2011 super output areas - lower layer,298,Age 0 to 4,0.0
3,2011,E01010854,2011 super output areas - lower layer,298,Age 5 to 7,0.0
4,2011,E01010854,2011 super output areas - lower layer,298,Age 8 to 9,0.0

chunk 81 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_81.csv
trying records 2050000 - 2075000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2050000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010798,2011 super output areas - lower layer,298,Age 75 to 84,0.0
1,2011,E01010798,2011 super output areas - lower layer,298,Age 85 to 89,0.0
2,2011,E01010798,2011 super output areas - lower layer,298,Age 90 and over,0.0
3,2011,E01010798,2011 super output areas - lower layer,298,Mean Age,NaN
4,2011,E01010798,2011 super output areas - lower layer,298,Median Age,0.5

chunk 82 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_82.csv
trying records 2075000 - 2100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2075000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010926,2011 super output areas - lower layer,298,Age 30 to 44,0.0
1,2011,E01010926,2011 super output areas - lower layer,298,Age 45 to 59,0.0
2,2011,E01010926,2011 super output areas - lower layer,298,Age 60 to 64,0.0
3,2011,E01010926,2011 super output areas - lower layer,298,Age 65 to 74,0.0
4,2011,E01010926,2011 super output areas - lower layer,298,Age 75 to 84,0.0

chunk 83 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_83.csv
trying records 2100000 - 2125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01010945,2011 super output areas - lower layer,298,Age 16 to 17,35.0
1,2011,E01010945,2011 super output areas - lower layer,298,Age 18 to 19,35.0
2,2011,E01010945,2011 super output areas - lower layer,298,Age 20 to 24,85.0
3,2011,E01010945,2011 super output areas - lower layer,298,Age 25 to 29,80.0
4,2011,E01010945,2011 super output areas - lower layer,298,Age 30 to 44,302.0

chunk 84 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_84.csv
trying records 2125000 - 2150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2125000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01011129,2011 super output areas - lower layer,298,Age 5 to 7,0.0
1,2011,E01011129,2011 super output areas - lower layer,298,Age 8 to 9,0.0
2,2011,E01011129,2011 super output areas - lower layer,298,Age 10 to 14,0.0
3,2011,E01011129,2011 super output areas - lower layer,298,Age 15,0.0
4,2011,E01011129,2011 super output areas - lower layer,298,Age 16 to 17,0.0

chunk 85 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_85.csv
trying records 2150000 - 2175000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2150000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01011080,2011 super output areas - lower layer,298,Mean Age,NaN
1,2011,E01011080,2011 super output areas - lower layer,298,Median Age,0.5
2,2011,E01011080,2011 super output areas - lower layer,298,All usual residents,0.0
3,2011,E01011080,2011 super output areas - lower layer,298,Age 0 to 4,0.0
4,2011,E01011080,2011 super output areas - lower layer,298,Age 5 to 7,0.0

chunk 86 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_86.csv
trying records 2175000 - 2200000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2175000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2011,E01011706,2011 super output areas - lower layer,298,Age 65 to 74,0.0
1,2011,E01011706,2011 super output areas - lower layer,298,Age 75 to 84,0.0
2,2011,E01011706,2011 super output areas - lower layer,298,Age 85 to 89,0.0
3,2011,E01011706,2011 super output areas - lower layer,298,Age 90 and over,0.0
4,2011,E01011706,2011 super output areas - lower layer,298,Mean Age,NaN

chunk 87 saved in ./data/raw/api/lsoa/counts/c2011/c2011ks102ew_87.csv
trying records 2200000 - 2225000
http://www.nomisweb.co.uk/api/v01/dataset/NM_145_1.data.csv?geography=TYPE298&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=2200000

In [14]:
api_url = '/api/v01/dataset/def.sdmx.json?search=KS*'
url = root_url + api_url
response = requests.get(url)

c2001_datasets_json = json.loads(response.text)
c2001_datasets_json = c2001_datasets_json['structure']['keyfamilies']['keyfamily']
c2001_datasets_metadata_list = []
for dataset in c2001_datasets_json:
    annotations = dataset['annotations']['annotation']
    for annotation in annotations:
        if annotation['annotationtitle'] == 'contenttype/sources':
            source = annotation['annotationtext']
        if annotation['annotationtitle'] == 'contenttype/geoglevel':
            geoglevel = annotation['annotationtext']
        if annotation['annotationtitle'] == 'Mnemonic':
            mnemonic = annotation['annotationtext']
        if annotation['annotationtitle'] == 'MetadataText0':
            description = annotation['annotationtext']
    if source != 'census_2001_ks':
        continue
    id = dataset['id']
    metadata = {
        'id': id,
        'mnemonic': mnemonic,
        'description': description,
        'geoglevel': geoglevel,
        'source': source
    }
    c2001_datasets_metadata_list.append(metadata)
c2001_datasets_metadata_df = pd.DataFrame(c2001_datasets_metadata_list)
# c2001_datasets_metadata_df = c2001_datasets_metadata_df[c2001_datasets_metadata_df['source'] == 'census_2001_ks'].reset_index(drop=True)
# c2001_datasets_metadata_list = list(set(c2001_datasets_metadata_df['mnemonic']))
c2001_datasets_metadata_df.to_csv('./data/raw/api/msoa/c2001/metadata.csv')
c2001_datasets_metadata_df

,id,mnemonic,description,geoglevel,source
0,NM_1602_1,ks002,This dataset is about Age. It shows all peopl...,"oa,msoa,ward,la,region",census_2001_ks
1,NM_1603_1,ks003,This dataset is about Living Arrangements. It ...,"oa,msoa,ward,la,region",census_2001_ks
2,NM_1604_1,ks004,This dataset is about Marital Status. It shows...,"oa,msoa,ward,la,region",census_2001_ks
3,NM_1605_1,ks005,This dataset is about Country of Birth. It sho...,"oa,msoa,ward,la,region",census_2001_ks
4,NM_1606_1,ks006,This dataset is about Ethnic Group. This varia...,"oa,msoa,ward,la,region",census_2001_ks
5,NM_1607_1,ks007,This dataset is about Religion. It shows all p...,"oa,msoa,ward,la,region",census_2001_ks
6,NM_1608_1,ks008,This dataset is about Health and Provision of ...,"oa,msoa,ward,la,region",census_2001_ks
7,NM_1609_1,ks009a,This dataset is about Economic Activity. Infor...,"oa,msoa,ward,la,region",census_2001_ks
8,NM_1610_1,ks009b,This dataset is about Economic Activity. Infor...,"oa,msoa,ward,la,region",census_2001_ks
9,NM_1611_1,ks009c,This dataset is about Economic Activity. Infor...,"oa,msoa,ward,la,region",census_2001_ks
10,NM_1612_1,ks010,This dataset is about Hours Worked. It covers ...,"oa,msoa,ward,la,region",census_2001_ks
11,NM_1613_1,ks011a,This dataset is about Industry of Employment. ...,"oa,msoa,ward,la,region",census_2001_ks
12,NM_1614_1,ks011b,This dataset is about Industry of Employment. ...,"oa,msoa,ward,la,region",census_2001_ks
13,NM_1615_1,ks011c,This dataset is about Industry of Employment. ...,"oa,msoa,ward,la,region",census_2001_ks
14,NM_1616_1,ks012a,This dataset is about Occupation. It shows all...,"oa,msoa,ward,la,region",census_2001_ks
15,NM_1617_1,ks012b,This dataset is about Occupation. It shows all...,"oa,msoa,ward,la,region",census_2001_ks
16,NM_1618_1,ks012c,This dataset is about Occupation. It shows all...,"oa,msoa,ward,la,region",census_2001_ks
17,NM_1619_1,ks013,This dataset is about Qualifications and Stude...,"oa,msoa,ward,la,region",census_2001_ks
18,NM_1620_1,ks014a,This dataset is about Socio-economic classific...,"oa,msoa,ward,la,region",census_2001_ks
19,NM_1621_1,ks014b,This dataset is about Socio-economic classific...,"oa,msoa,ward,la,region",census_2001_ks
20,NM_1622_1,ks014c,This dataset is about Socio-economic classific...,"oa,msoa,ward,la,region",census_2001_ks
21,NM_1623_1,ks015,This dataset is about Travel to Work. It shows...,"oa,msoa,ward,la,region",census_2001_ks
22,NM_1624_1,ks016,This dataset is about Household Spaces and Acc...,"oa,msoa,ward,la,region",census_2001_ks
23,NM_1625_1,ks017,This dataset is about Cars or Vans. Informatio...,"oa,msoa,ward,la,region",census_2001_ks
24,NM_1626_1,ks018,This dataset is about Tenure. It shows all hou...,"oa,msoa,ward,la,region",census_2001_ks
25,NM_1627_1,ks019,"This dataset is about Rooms, Amenities, Centra...","oa,msoa,ward,la,region",census_2001_ks
26,NM_1628_1,ks020,This dataset is about Household Composition. H...,"oa,msoa,ward,la,region",census_2001_ks
27,NM_1629_1,ks021,This dataset is about Households with limiting...,"oa,msoa,ward,la,region",census_2001_ks
28,NM_1630_1,ks022,This dataset is about Lone Parent Households w...,"oa,msoa,ward,la,region",census_2001_ks
29,NM_1631_1,ks023,This dataset is about Communal Establishment R...,"oa,msoa,ward,la,region",census_2001_ks
30,NM_1632_1,ks024,This dataset is about Migration. The informati...,"oa,ward,la,region",census_2001_ks
31,NM_1633_1,ks025,This dataset is about Knowledge of Welsh. It s...,"oa,msoa,ward,la,region",census_2001_ks
32,NM_1634_1,ks001,This dataset is about Usual Resident Populatio...,"oa,msoa,ward,la,region",census_2001_ks

In [20]:
record_limit = 25000
offset = 0

for dataset in c2001_datasets_metadata_list[29:]:
    id = dataset['id']
    mnemonic = dataset['mnemonic']
    geoglevel = dataset['geoglevel'].split(',')
    if 'msoa' not in geoglevel:
        continue

    print("downloading", mnemonic)
    api_url = f'/api/v01/dataset/{id}.data.csv?recordlimit=10'
    url = root_url + api_url
    try:
        dataset_df = pd.read_csv(url)
    except:
        time.sleep(60)
        dataset_df = pd.read_csv(url)
    dataset_df.to_csv('test.csv')
    # try:
    stat_name = dataset_df.filter(regex='^(C2001|CELL|C_|COB_|DEPCHILD_|COMMTYPE_).*NAME$', axis=1).columns[0].lower()
    # except:
    #     try:
    #         stat_name = dataset_df.filter(regex='^CELL.*NAME$', axis=1).columns[0].lower()
    #     except:
    #         try:
    #             stat_name = dataset_df.filter(regex='^C_.*NAME$', axis=1).columns[0].lower()
    #         except:
    #             try:
    #                 stat_name = dataset_df.filter(regex='RURAL_URBAN_TYPE', axis=1).columns[0].lower()
    #             except:
    #                 try:
    #                     stat_name = dataset_df.filter(regex='COB_NAME', axis=1).columns[0].lower()
    #                 except:
    #                     stat_name = dataset_df.filter(regex='DEPCHILD_NAME', axis=1).columns[0].lower()

    last_record = offset

    for i in range(1000):
        print(f"trying records {last_record} - {last_record + record_limit}")
        api_url = f'/api/v01/dataset/{id}.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,{stat_name},obs_value&recordlimit={record_limit}&recordoffset={last_record}'
        # api_url = f'/api/v01/dataset/{id}.data.csv?measures=20100&select=date,geography_code,geography_type,geography_typecode,{stat_name},obs_value&recordlimit={record_limit}&recordoffset={last_record}'

        url = root_url + api_url

        print(url)

        try:
            batch_df = pd.read_csv(url)
        except pd.errors.EmptyDataError:
            print("empty dataset")
            break
        except:
            time.sleep(60)
            batch_df = pd.read_csv(url)

        display(batch_df.head())

        if len(batch_df) == 0:
            break

        dest_file = f'./data/raw/api/msoa/c2001/{mnemonic}_{i:02}.csv'
        batch_df.to_csv(dest_file)
        print(f"chunk {i} saved in {dest_file}")

        last_record += record_limit

downloading ks023
trying records 0 - 25000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1631_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,commtype_name,obs_value&recordlimit=25000&recordoffset=0

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,COMMTYPE_NAME,OBS_VALUE
0,2001,E02002559,2001 super output areas - middle layer,305,All communal establishments,5
1,2001,E02002559,2001 super output areas - middle layer,305,Number of residents by communal establishment ...,34
2,2001,E02002559,2001 super output areas - middle layer,305,Medical and care establishments - NHS - Psychi...,0
3,2001,E02002559,2001 super output areas - middle layer,305,Medical and care establishments - NHS - Other ...,0
4,2001,E02002559,2001 super output areas - middle layer,305,Medical and care establishments - Local Author...,0

chunk 0 saved in ./data/raw/api/msoa/c2001/ks023_00.csv
trying records 25000 - 50000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1631_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,commtype_name,obs_value&recordlimit=25000&recordoffset=25000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,COMMTYPE_NAME,OBS_VALUE
0,2001,E02002310,2001 super output areas - middle layer,305,Medical and care establishments - Other,0
1,2001,E02002310,2001 super output areas - middle layer,305,Other establishments,24
2,2001,E02002310,2001 super output areas - middle layer,305,Residents in establishments with limiting long...,71
3,2001,E02002310,2001 super output areas - middle layer,305,Residents in establishments with limiting long...,24
4,2001,E02002311,2001 super output areas - middle layer,305,All communal establishments,4

chunk 1 saved in ./data/raw/api/msoa/c2001/ks023_01.csv
trying records 50000 - 75000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1631_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,commtype_name,obs_value&recordlimit=25000&recordoffset=50000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,COMMTYPE_NAME,OBS_VALUE
0,2001,E02004526,2001 super output areas - middle layer,305,Medical and care establishments - Housing asso...,0
1,2001,E02004526,2001 super output areas - middle layer,305,Medical and care establishments - Other - Nurs...,10
2,2001,E02004526,2001 super output areas - middle layer,305,Medical and care establishments - Other - Resi...,0
3,2001,E02004526,2001 super output areas - middle layer,305,Medical and care establishments - Other - Chil...,0
4,2001,E02004526,2001 super output areas - middle layer,305,Medical and care establishments - Other,0

chunk 2 saved in ./data/raw/api/msoa/c2001/ks023_02.csv
trying records 75000 - 100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1631_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,commtype_name,obs_value&recordlimit=25000&recordoffset=75000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,COMMTYPE_NAME,OBS_VALUE
0,2001,E02004381,2001 super output areas - middle layer,305,Medical and care establishments - NHS - Psychi...,0
1,2001,E02004381,2001 super output areas - middle layer,305,Medical and care establishments - NHS - Other ...,0
2,2001,E02004381,2001 super output areas - middle layer,305,Medical and care establishments - Local Author...,0
3,2001,E02004381,2001 super output areas - middle layer,305,Medical and care establishments - Local Author...,12
4,2001,E02004381,2001 super output areas - middle layer,305,Medical and care establishments - Housing asso...,0

chunk 3 saved in ./data/raw/api/msoa/c2001/ks023_03.csv
trying records 100000 - 125000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1631_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,commtype_name,obs_value&recordlimit=25000&recordoffset=100000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,COMMTYPE_NAME,OBS_VALUE
0,2001,W02000194,2001 super output areas - middle layer,305,Residents in establishments with limiting long...,86
1,2001,W02000194,2001 super output areas - middle layer,305,Residents in establishments with limiting long...,41
2,2001,W02000195,2001 super output areas - middle layer,305,All communal establishments,5
3,2001,W02000195,2001 super output areas - middle layer,305,Number of residents by communal establishment ...,358
4,2001,W02000195,2001 super output areas - middle layer,305,Medical and care establishments - NHS - Psychi...,0

chunk 4 saved in ./data/raw/api/msoa/c2001/ks023_04.csv
trying records 125000 - 150000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1631_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,commtype_name,obs_value&recordlimit=25000&recordoffset=125000

Empty DataFrame
Columns: [DATE, GEOGRAPHY_CODE, GEOGRAPHY_TYPE, GEOGRAPHY_TYPECODE, COMMTYPE_NAME, OBS_VALUE]
Index: []

downloading ks025
trying records 0 - 25000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1633_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=0

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2001,W02000314,2001 super output areas - middle layer,305,All people aged 3 and over,6937
1,2001,W02000314,2001 super output areas - middle layer,305,Understands spoken Welsh only,174
2,2001,W02000314,2001 super output areas - middle layer,305,Speaks but does not read or write Welsh,131
3,2001,W02000314,2001 super output areas - middle layer,305,Speaks and reads but does not write Welsh,44
4,2001,W02000314,2001 super output areas - middle layer,305,"Speaks, reads and writes Welsh",504

chunk 0 saved in ./data/raw/api/msoa/c2001/ks025_00.csv
trying records 25000 - 50000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1633_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=25000

Empty DataFrame
Columns: [DATE, GEOGRAPHY_CODE, GEOGRAPHY_TYPE, GEOGRAPHY_TYPECODE, CELL_NAME, OBS_VALUE]
Index: []

downloading ks001
trying records 0 - 25000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1634_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=0

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2001,E02002559,2001 super output areas - middle layer,305,All people,6302.0
1,2001,E02002559,2001 super output areas - middle layer,305,Males,3112.0
2,2001,E02002559,2001 super output areas - middle layer,305,Females,3190.0
3,2001,E02002559,2001 super output areas - middle layer,305,People living in households,6263.0
4,2001,E02002559,2001 super output areas - middle layer,305,People living in communal establishments,39.0

chunk 0 saved in ./data/raw/api/msoa/c2001/ks001_00.csv
trying records 25000 - 50000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1634_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=25000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2001,E02002129,2001 super output areas - middle layer,305,All people,5903.0
1,2001,E02002129,2001 super output areas - middle layer,305,Males,2929.0
2,2001,E02002129,2001 super output areas - middle layer,305,Females,2974.0
3,2001,E02002129,2001 super output areas - middle layer,305,People living in households,5903.0
4,2001,E02002129,2001 super output areas - middle layer,305,People living in communal establishments,0.0

chunk 1 saved in ./data/raw/api/msoa/c2001/ks001_01.csv
trying records 50000 - 75000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1634_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=50000

,DATE,GEOGRAPHY_CODE,GEOGRAPHY_TYPE,GEOGRAPHY_TYPECODE,CELL_NAME,OBS_VALUE
0,2001,E02003199,2001 super output areas - middle layer,305,All people,9257.0
1,2001,E02003199,2001 super output areas - middle layer,305,Males,4458.0
2,2001,E02003199,2001 super output areas - middle layer,305,Females,4799.0
3,2001,E02003199,2001 super output areas - middle layer,305,People living in households,9239.0
4,2001,E02003199,2001 super output areas - middle layer,305,People living in communal establishments,18.0

chunk 2 saved in ./data/raw/api/msoa/c2001/ks001_02.csv
trying records 75000 - 100000
http://www.nomisweb.co.uk/api/v01/dataset/NM_1634_1.data.csv?geography=TYPE305&measures=20100&select=date,geography_code,geography_type,geography_typecode,cell_name,obs_value&recordlimit=25000&recordoffset=75000

Empty DataFrame
Columns: [DATE, GEOGRAPHY_CODE, GEOGRAPHY_TYPE, GEOGRAPHY_TYPECODE, CELL_NAME, OBS_VALUE]
Index: []