In [1]:
import os
import pandas as pd
import glob
import math
import numpy as np

In [2]:
try:
    metadata_2011 = pd.read_csv(r'.\data\raw\api\msoa\counts\c2011\metadata.csv')
except:  
    os.chdir("..")
    metadata_2011 = pd.read_csv(r'.\data\raw\api\msoa\counts\c2011\metadata.csv')
metadata_2011['clean_mnemonic'] = metadata_2011['mnemonic'].str.extract('(c2011ks\d*).*')
metadata_2011 = metadata_2011[metadata_2011['geoglevel'].str.contains('oa')]
metadata_2011_mnemonics = list(set(metadata_2011['clean_mnemonic']))
metadata_2011['geoglevel']

0     oa,ps
1     oa,ps
2     oa,ps
3     oa,ps
4     oa,ps
5     oa,ps
6     oa,ps
7     oa,ps
8     oa,ps
9     oa,ps
10    oa,ps
11    oa,ps
12    oa,ps
13    oa,ps
14    oa,ps
15    oa,ps
16    oa,ps
17    oa,ps
18    oa,ps
19    oa,ps
20    oa,ps
21    oa,ps
22    oa,ps
23    oa,ps
24    oa,ps
25    oa,ps
26    oa,ps
27    oa,ps
28    oa,ps
29       oa
30       oa
31       oa
32       oa
33       oa
34       oa
35       oa
36       oa
37       oa
38       oa
39       oa
40       oa
41       oa
42       oa
43       oa
44       oa
45       oa
46       oa
47       oa
48       oa
49       oa
50       oa
51       oa
52       oa
Name: geoglevel, dtype: object

In [3]:
c2011_dfs = []

for mnemonic in metadata_2011_mnemonics:

    root_dir = r'.\data\raw\api\msoa\counts\c2011'
    mnemonic_tables = glob.glob(mnemonic+'*', root_dir=root_dir)
    mnemonic_dfs = []

    for table in mnemonic_tables:
        df = pd.read_csv(rf"{root_dir}\{table}")
        mnemonic_dfs.append(df)

    print(mnemonic)
    mnemonic_df = pd.concat(mnemonic_dfs)

    mnemonic_df = mnemonic_df.drop(columns=['Unnamed: 0', 'GEOGRAPHY_TYPE', 'GEOGRAPHY_TYPECODE', 'DATE'])
    mnemonic_df['OBS_VALUE'] = mnemonic_df['OBS_VALUE'].astype(float)
    mnemonic_df = mnemonic_df[mnemonic_df['OBS_VALUE'] > 0]
    cols = list(mnemonic_df.columns)
    var_col = [col for col in cols if col not in ['GEOGRAPHY_CODE', 'OBS_VALUE']][0]
    mnemonic_df = mnemonic_df.pivot_table(index='GEOGRAPHY_CODE', columns=var_col, values='OBS_VALUE', aggfunc='mean', fill_value=0)
    mnemonic_df = mnemonic_df.reset_index(drop=False)
    c2011_dfs.append(mnemonic_df)
c2011_dfs[0]

c2011ks104
c2011ks208
c2011ks205
c2011ks602
c2011ks606
c2011ks207
c2011ks501
c2011ks403
c2011ks102
c2011ks209
c2011ks105
c2011ks607
c2011ks404
c2011ks613
c2011ks605
c2011ks106
c2011ks204
c2011ks609
c2011ks610
c2011ks107
c2011ks601
c2011ks608
c2011ks103
c2011ks612
c2011ks101
c2011ks603
c2011ks402
c2011ks401
c2011ks301
c2011ks202
c2011ks405
c2011ks206
c2011ks611
c2011ks604
c2011ks201

CELL_NAME,GEOGRAPHY_CODE,All categories: Living arrangements,Living in a couple,Living in a couple: Cohabiting,Living in a couple: Married or in a registered same-sex civil partnership,Not living in a couple,Not living in a couple: Divorced or formerly in a same-sex civil partnership which is now legally dissolved,Not living in a couple: Married or in a registered same-sex civil partnership,Not living in a couple: Separated (but still legally married or still legally in a same-sex civil partnership),Not living in a couple: Single (never married or never registered a same-sex civil partnership),Not living in a couple: Widowed or surviving partner from a same-sex civil partnership
0,E02000001,6595.0,2848.0,894.0,1954.0,3747.0,430.0,371.0,141.0,2537.0,268.0
1,E02000002,4973.0,2350.0,508.0,1842.0,2623.0,430.0,98.0,156.0,1527.0,412.0
2,E02000003,7786.0,4032.0,670.0,3362.0,3754.0,535.0,218.0,202.0,2292.0,507.0
3,E02000004,4741.0,2632.0,458.0,2174.0,2109.0,283.0,78.0,100.0,1312.0,336.0
4,E02000005,6362.0,3270.0,678.0,2592.0,3092.0,421.0,145.0,203.0,1912.0,411.0
...,...,...,...,...,...,...,...,...,...,...,...
7196,W02000419,8748.0,5301.0,1061.0,4240.0,3447.0,658.0,79.0,166.0,1838.0,706.0
7197,W02000420,10898.0,7370.0,1012.0,6358.0,3528.0,628.0,94.0,141.0,1975.0,690.0
7198,W02000421,9531.0,6026.0,1004.0,5022.0,3505.0,588.0,135.0,138.0,1907.0,737.0
7199,W02000422,5579.0,2572.0,1570.0,1002.0,3007.0,307.0,154.0,145.0,2356.0,45.0
7200,W02000423,6783.0,2732.0,1218.0,1514.0,4051.0,505.0,231.0,200.0,2872.0,243.0

In [4]:
for df in c2011_dfs:
    print(df.columns)
    total_col = df.filter(regex='(^All categories.*)|(.*All households.*)|(All usual residents.*)|(All lone parent housholds.*)').columns[0]
    total_cols = list(df.filter(regex='(^All categories.*)|(.*All households.*)|(All usual residents.*)|(All lone parent housholds.*)').columns)
    agg_cols = list(df.filter(regex='.*([Aa]verage)|([Mm]ean)|([Mm]edian)|([Nn]umber of).*').columns)
    geo_col = 'GEOGRAPHY_CODE'
    val_cols = [col for col in df.columns if col not in total_cols and col not in agg_cols and col != geo_col]
    for col in val_cols:
        df[col] = df[col] / df[total_col]

Index(['GEOGRAPHY_CODE', 'All categories: Living arrangements',
       'Living in a couple', 'Living in a couple: Cohabiting',
       'Living in a couple: Married or in a registered same-sex civil partnership',
       'Not living in a couple',
       'Not living in a couple: Divorced or formerly in a same-sex civil partnership which is now legally dissolved',
       'Not living in a couple: Married or in a registered same-sex civil partnership',
       'Not living in a couple: Separated (but still legally married or still legally in a same-sex civil partnership)',
       'Not living in a couple: Single (never married or never registered a same-sex civil partnership)',
       'Not living in a couple: Widowed or surviving partner from a same-sex civil partnership'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'Age 16 to 64', 'Age 3 to 15', 'Age 65 and over',
       'All categories: Age 3 and over',
       'All categories: Can speak Welsh by age 3 and over',
       'All categories: One or more skills in Welsh age 3 and over',
       'Can speak Welsh', 'Can speak Welsh: Age 16 to 64',
       'Can speak Welsh: Age 3 to 15', 'Can speak Welsh: Age 65 and over',
       'Can speak, read and write Welsh', 'Can understand spoken Welsh only',
       'One or more skills in Welsh: Age 16 to 64',
       'One or more skills in Welsh: Age 3 to 15',
       'One or more skills in Welsh: Age 65 and over'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'Africa', 'All usual residents',
       'Antarctica and Oceania', 'British Overseas Territories',
       'Central America', 'Middle East and Asia', 'No passport',
       'North America and the Caribbean', 'Other Europe: EU countries',
       'Other Europe: Non EU countries', 'Republic of Ireland',
       'South America', 'United Kingdom'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All usual residents aged 16 to 74',
       'Economically Inactive', 'Economically active',
       'Economically active: Employee: Full-time',
       'Economically active: Employee: Part-time',
       'Economically active: Full-time student',
       'Economically active: In employment',
       'Economically active: Self-employed', 'Economically active: Unemployed',
       'Economically inactive: Long-term sick or disabled',
       'Economically inactive: Looking after home or family',
       'Economically inactive: Other', 'Economically inactive: Retired',
       'Economically inactive: Student (including full-time students)',
       'Long-term unemployed', 'Unemployed: Age 16 to 24',
       'Unemployed: Age 50 to 74', 'Unemployed: Never worked'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'A Agriculture, forestry and fishing',
       'All categories: Industry', 'B Mining and quarrying', 'C Manufacturing',
       'D Electricity, gas, steam and air conditioning supply ',
       'E Water supply; sewerage, waste management and remediation activities',
       'F Construction',
       'G Wholesale and retail trade; repair of motor vehicles and motor cycles',
       'H Transport and storage',
       'I Accommodation and food service activities',
       'J Information and communication',
       'K Financial and insurance activities', 'L Real estate activities',
       'M Professional, scientific and technical activities',
       'N Administrative and support service activities',
       'O Public administration and defence; compulsory social security',
       'P Education', 'Q Human health and social work activities',
       'R, S, T, U Other'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All usual residents aged 3 and over',
       'Can speak Welsh', 'Can speak and read but cannot write Welsh',
       'Can speak but cannot read or write Welsh',
       'Can speak, read and write Welsh', 'Can understand spoken Welsh only',
       'No skills in Welsh', 'Other combination of skills in Welsh'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All categories: Highest level of qualification',
       'Full-time students: Age 18 to 74: Economically active: In employment',
       'Full-time students: Age 18 to 74: Economically active: Unemployed',
       'Full-time students: Age 18 to 74: Economically inactive',
       'Highest level of qualification: Apprenticeship',
       'Highest level of qualification: Level 1 qualifications',
       'Highest level of qualification: Level 2 qualifications',
       'Highest level of qualification: Level 3 qualifications',
       'Highest level of qualification: Level 4 qualifications and above',
       'Highest level of qualification: Other qualifications',
       'No qualifications',
       'Schoolchildren and full-time students: Age 16 to 17',
       'Schoolchildren and full-time students: Age 18 and over'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE',
       'All categories: Type of central heating in household',
       'Average household size', 'Average number of bedrooms per household',
       'Average number of rooms per household', 'Does have central heating',
       'Does not have central heating',
       'Occupancy rating (bedrooms) of -1 or less',
       'Occupancy rating (rooms) of -1 or less'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'Age 0 to 4', 'Age 10 to 14', 'Age 15',
       'Age 16 to 17', 'Age 18 to 19', 'Age 20 to 24', 'Age 25 to 29',
       'Age 30 to 44', 'Age 45 to 59', 'Age 5 to 7', 'Age 60 to 64',
       'Age 65 to 74', 'Age 75 to 84', 'Age 8 to 9', 'Age 85 to 89',
       'Age 90 and over', 'All usual residents', 'Mean Age', 'Median Age'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All categories: Religion', 'Buddhist', 'Christian',
       'Has religion', 'Hindu', 'Jewish', 'Muslim', 'No religion',
       'Other religion', 'Religion not stated', 'Sikh'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All categories: Household composition',
       'One family household', 'One family only: All aged 65 and over',
       'One family only: Cohabiting couple',
       'One family only: Cohabiting couple: All children non-dependent',
       'One family only: Cohabiting couple: Dependent children',
       'One family only: Cohabiting couple: No children',
       'One family only: Lone parent',
       'One family only: Lone parent: All children non-dependent',
       'One family only: Lone parent: Dependent children',
       'One family only: Married or same-sex civil partnership couple',
       'One family only: Married or same-sex civil partnership couple: All children non-dependent',
       'One family only: Married or same-sex civil partnership couple: Dependent children',
       'One family only: Married or same-sex civil partnership couple: No children',
       'One person household', 'One person household: Aged 65 and over',
       'One person household: Other', 'Other household types',
       'Other household types: All aged 65 and over',
       'Other household types: All full-time students',
       'Other household types: Other',
       'Other household types: With dependent children'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'A Agriculture, forestry and fishing',
       'All categories: Industry', 'B Mining and quarrying', 'C Manufacturing',
       'D Electricity, gas, steam and air conditioning supply ',
       'E Water supply; sewerage, waste management and remediation activities',
       'F Construction',
       'G Wholesale and retail trade; repair of motor vehicles and motor cycles',
       'H Transport and storage',
       'I Accommodation and food service activities',
       'J Information and communication',
       'K Financial and insurance activities', 'L Real estate activities',
       'M Professional, scientific and technical activities',
       'N Administrative and support service activities',
       'O Public administration and defence; compulsory social security',
       'P Education', 'Q Human health and social work activities',
       'R, S, T, U Other'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', '1 car or van in household',
       '2 cars or vans in household', '3 cars or vans in household',
       '4 or more cars or vans in household',
       'All categories: Car or van availability',
       'No cars or vans in household', 'sum of all cars or vans in the area'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE',
       '1. Higher managerial, administrative and professional occupations',
       '1.1 Large employers and higher managerial and administrative occupations',
       '1.2 Higher professional occupations',
       '2. Lower managerial, administrative and professional occupations',
       '3. Intermediate occupations',
       '4. Small employers and own account workers',
       '5. Lower supervisory and technical occupations',
       '6. Semi-routine occupations', '7. Routine occupations',
       '8. Never worked and long-term unemployed', 'All categories: NS-SeC',
       'L14.1 Never worked', 'L14.2 Long-term unemployed',
       'L15 Full-time students'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'A Agriculture, forestry and fishing',
       'All categories: Industry', 'B Mining and quarrying', 'C Manufacturing',
       'D Electricity, gas, steam and air conditioning supply ',
       'E Water supply; sewerage, waste management and remediation activities',
       'F Construction',
       'G Wholesale and retail trade; repair of motor vehicles and motor cycles',
       'H Transport and storage',
       'I Accommodation and food service activities',
       'J Information and communication',
       'K Financial and insurance activities', 'L Real estate activities',
       'M Professional, scientific and technical activities',
       'N Administrative and support service activities',
       'O Public administration and defence; compulsory social security',
       'P Education', 'Q Human health and social work activities',
       'R, S, T, U Other'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'Dependent children in household: Age 0 to 4',
       'Dependent children in household: All ages',
       'No adults in employment in household',
       'No adults in employment in household: No dependent children',
       'No adults in employment in household: With dependent children',
       'One person in household with a long-term health problem or disability',
       'One person in household with a long-term health problem or disability: No dependent children',
       'One person in household with a long-term health problem or disability: With dependent children',
       'count of Household; All households'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All usual residents', 'England', 'Ireland',
       'Northern Ireland', 'Other EU',
       'Other EU: Accession countries April 2001 to March 2011',
       'Other EU: Member countries in March 2001', 'Other countries',
       'Scotland', 'United Kingdom', 'United Kingdom not otherwise specified',
       'Wales'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', '1. Managers, directors and senior officials',
       '2. Professional occupations',
       '3. Associate professional and technical occupations',
       '4. Administrative and secretarial occupations',
       '5. Skilled trades occupations',
       '6. Caring, leisure and other service occupations',
       '7. Sales and customer service occupations',
       '8. Process plant and machine operatives', '9. Elementary occupations',
       'All categories: Occupation'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', '1. Managers, directors and senior officials',
       '2. Professional occupations',
       '3. Associate professional and technical occupations',
       '4. Administrative and secretarial occupations',
       '5. Skilled trades occupations',
       '6. Caring, leisure and other service occupations',
       '7. Sales and customer service occupations',
       '8. Process plant and machine operatives', '9. Elementary occupations',
       'All categories: Occupation'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All lone parent housholds with dependent children',
       'Female lone parent: In full-time employment',
       'Female lone parent: In part-time employment',
       'Female lone parent: Not in employment', 'Female lone parent: Total',
       'Lone parent in full-time employment: Total',
       'Lone parent in part-time employment: Total',
       'Lone parent not in employment: Total',
       'Male lone parent: In full-time employment',
       'Male lone parent: In part-time employment',
       'Male lone parent: Not in employment', 'Male lone parent: Total'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All usual residents aged 16 to 74',
       'Economically Inactive', 'Economically active',
       'Economically active: Employee: Full-time',
       'Economically active: Employee: Part-time',
       'Economically active: Full-time student',
       'Economically active: In employment',
       'Economically active: Self-employed', 'Economically active: Unemployed',
       'Economically inactive: Long-term sick or disabled',
       'Economically inactive: Looking after home or family',
       'Economically inactive: Other', 'Economically inactive: Retired',
       'Economically inactive: Student (including full-time students)',
       'Long-term unemployed', 'Unemployed: Age 16 to 24',
       'Unemployed: Age 50 to 74', 'Unemployed: Never worked'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', '1. Managers, directors and senior officials',
       '2. Professional occupations',
       '3. Associate professional and technical occupations',
       '4. Administrative and secretarial occupations',
       '5. Skilled trades occupations',
       '6. Caring, leisure and other service occupations',
       '7. Sales and customer service occupations',
       '8. Process plant and machine operatives', '9. Elementary occupations',
       'All categories: Occupation'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All usual residents aged 16+',
       'Divorced or formerly in a same-sex civil partnership which is now legally dissolved',
       'In a registered same-sex civil partnership', 'Married',
       'Separated (but still legally married or still legally in a same-sex civil partnership)',
       'Single (never married or never registered a same-sex civil partnership)',
       'Widowed or surviving partner from a same-sex civil partnership'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE',
       '1. Higher managerial, administrative and professional occupations',
       '1.1 Large employers and higher managerial and administrative occupations',
       '1.2 Higher professional occupations',
       '2. Lower managerial, administrative and professional occupations',
       '3. Intermediate occupations',
       '4. Small employers and own account workers',
       '5. Lower supervisory and technical occupations',
       '6. Semi-routine occupations', '7. Routine occupations',
       '8. Never worked and long-term unemployed', 'All categories: NS-SeC',
       'L14.1 Never worked', 'L14.2 Long-term unemployed',
       'L15 Full-time students'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All usual residents', 'Area (Hectares)',
       'Density (number of persons per hectare)', 'Females',
       'Lives in a communal establishment', 'Lives in a household', 'Males',
       'Schoolchild or full-time student aged 4 and over at their non term-time address'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All usual residents aged 16 to 74',
       'Economically Inactive', 'Economically active',
       'Economically active: Employee: Full-time',
       'Economically active: Employee: Part-time',
       'Economically active: Full-time student',
       'Economically active: In employment',
       'Economically active: Self-employed', 'Economically active: Unemployed',
       'Economically inactive: Long-term sick or disabled',
       'Economically inactive: Looking after home or family',
       'Economically inactive: Other', 'Economically inactive: Retired',
       'Economically inactive: Student (including full-time students)',
       'Long-term unemployed', 'Unemployed: Age 16 to 24',
       'Unemployed: Age 50 to 74', 'Unemployed: Never worked'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All households', 'Living rent free', 'Owned',
       'Owned: Owned outright', 'Owned: Owned with a mortgage or loan',
       'Private rented', 'Private rented: Other',
       'Private rented: Private landlord or letting agency',
       'Shared ownership (part owned and part rented)', 'Social rented',
       'Social rented: Other',
       'Social rented: Rented from council (Local Authority)'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All categories: Dwelling type',
       'All categories: Household spaces',
       'Caravan or other mobile or temporary structure',
       'Flat, maisonette or apartment: In a commercial building',
       'Flat, maisonette or apartment: Part of a converted or shared house (including bed-sits)',
       'Flat, maisonette or apartment: Purpose-built block of flats or tenement',
       'Household spaces with at least one usual resident',
       'Household spaces with no usual residents', 'Shared dwelling',
       'Shared dwelling: Three or more household spaces',
       'Shared dwelling: Two household spaces', 'Unshared dwelling',
       'Whole house or bungalow: Detached',
       'Whole house or bungalow: Semi-detached',
       'Whole house or bungalow: Terraced (including end-terrace)'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE',
       'All categories: Long-term health problem or disability', 'Bad health',
       'Day-to-day activities limited a little',
       'Day-to-day activities limited a little: Age 16 to 64',
       'Day-to-day activities limited a lot',
       'Day-to-day activities limited a lot: Age 16 to 64',
       'Day-to-day activities not limited',
       'Day-to-day activities not limited: Age 16 to 64', 'Fair health',
       'Good health', 'Provides 1 to 19 hours unpaid care a week',
       'Provides 20 to 49 hours unpaid care a week',
       'Provides 50 or more hours unpaid care a week',
       'Provides no unpaid care', 'Very bad health', 'Very good health'],
      dtype='object', name='CELL_NAME')
Index(['GEOGRAPHY_CODE', 'All categories: National identity British',
       'All categories: National identity Cornish',
       'All categories: National identity English',
       'All categories: National identity Irish',
       'All categories: National identity Northern Irish',
       'All categories: National identity Other',
       'All categories: National identity Scottish',
       'All categories: National identity Welsh',
       'At least one of English/Welsh/Scottish/Northern Irish/British identities only',
       'British and any other identity', 'British only identity',
       'Cornish and British only identity',
       'Cornish and at least one of English/Welsh/Scottish/Northern Irish identities (with or without British)',
       'Cornish only identity', 'English and British only identity',
       'English only identity', 'Irish and British only identity',
       'Irish and Northern Irish only identity',
       'Irish and at least one of English/Welsh/Scottish identities (with or without British)',
       'Irish only identity',
       'Irish, Northern Irish and British only identity',
       'Irish, Northern Irish and at least one of English/Welsh/Scottish identities (with or without British)',

In [5]:
for mnemonic, df in zip(metadata_2011_mnemonics, c2011_dfs):
    df.to_csv(rf'.\data\raw\api\msoa\counts\c2011\{mnemonic}.csv')

In [6]:
try:
    metadata_2001 = pd.read_csv(r'.\data\raw\api\msoa\counts\c2001\metadata.csv')
except:  
    os.chdir("..")
    metadata_2001 = pd.read_csv(r'.\data\raw\api\msoa\counts\c2001\metadata.csv')
metadata_2001['clean_mnemonic'] = metadata_2001['mnemonic'].str.extract('(ks\d*).*')
metadata_2001 = metadata_2001[metadata_2001['geoglevel'].str.contains('msoa')]
metadata_2001_mnemonics = list(set(metadata_2001['clean_mnemonic']))
len(metadata_2001_mnemonics)

24

In [7]:
c2001_dfs = []

for mnemonic in metadata_2001_mnemonics:
    root_dir = r'.\data\raw\api\msoa\counts\c2001'
    mnemonic_tables = glob.glob(mnemonic+'*', root_dir=root_dir)
    mnemonic_dfs = []

    for table in mnemonic_tables:
        df = pd.read_csv(rf"{root_dir}\{table}")
        mnemonic_dfs.append(df)

    mnemonic_df = pd.concat(mnemonic_dfs)

    mnemonic_df = mnemonic_df.drop(columns=['Unnamed: 0', 'GEOGRAPHY_TYPE', 'GEOGRAPHY_TYPECODE', 'DATE'])
    mnemonic_df['OBS_VALUE'] = mnemonic_df['OBS_VALUE'].astype(float)
    mnemonic_df = mnemonic_df[mnemonic_df['OBS_VALUE'] > 0]
    cols = list(mnemonic_df.columns)
    var_col = [col for col in cols if col not in ['GEOGRAPHY_CODE', 'OBS_VALUE']][0]
    mnemonic_df = mnemonic_df.pivot_table(index='GEOGRAPHY_CODE', columns=var_col, values='OBS_VALUE', aggfunc='mean', fill_value=0)
    mnemonic_df = mnemonic_df.reset_index(drop=False)
    c2001_dfs.append(mnemonic_df)
c2001_dfs[0]

CELL_NAME,GEOGRAPHY_CODE,All usual residents aged 16 to 74,Economically Inactive,Economically active,Economically active: Employee: Full-time,Economically active: Employee: Part-time,Economically active: Full-time student,Economically active: In employment,Economically active: Self-employed,Economically active: Unemployed,Economically inactive: Long-term sick or disabled,Economically inactive: Looking after home or family,Economically inactive: Other,Economically inactive: Retired,Economically inactive: Student (including full-time students),Long-term unemployed,Unemployed: Age 16 to 24,Unemployed: Age 50 to 74,Unemployed: Never worked
0,E02000001,4044.666667,1021.333333,3023.333333,2026.000000,184.000000,78.000000,2801.333333,591.333333,144.000000,120.000000,154.666667,140.000000,364.000000,242.666667,33.333333,28.000000,31.333333,19.000000
1,E02000002,2748.000000,1151.333333,1596.666667,956.000000,278.000000,52.000000,1404.666667,170.666667,140.000000,207.333333,282.666667,116.000000,452.666667,92.666667,50.666667,38.666667,20.000000,15.333333
2,E02000003,4395.333333,1402.000000,2993.333333,1943.333333,463.333333,111.333333,2753.333333,346.666667,128.666667,190.000000,341.333333,152.000000,558.666667,160.000000,36.666667,46.000000,15.333333,9.333333
3,E02000004,2873.333333,911.333333,1962.000000,1308.000000,322.000000,53.333333,1827.333333,197.333333,81.333333,160.000000,194.000000,79.333333,393.333333,84.666667,23.333333,27.333333,8.666667,5.666667
4,E02000005,3657.333333,1319.333333,2338.000000,1482.666667,412.666667,75.333333,2142.666667,247.333333,120.000000,251.333333,328.666667,124.666667,484.666667,130.000000,35.333333,38.000000,16.666667,14.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7189,W02000409,2736.666667,1066.000000,1670.666667,1008.000000,372.000000,54.666667,1536.000000,156.000000,80.000000,217.333333,229.333333,126.000000,397.333333,96.000000,18.666667,26.666667,12.333333,8.666667
7190,W02000410,3238.666667,1310.666667,1928.000000,1140.666667,332.000000,109.333333,1676.000000,203.333333,142.666667,314.000000,299.333333,165.333333,303.333333,228.666667,47.333333,34.666667,18.666667,15.333333
7191,W02000411,2665.333333,1062.000000,1603.333333,954.666667,345.333333,55.333333,1424.666667,124.666667,123.333333,299.333333,238.666667,156.000000,272.000000,96.000000,44.000000,30.666667,20.666667,14.666667
7192,W02000412,2755.333333,1008.666667,1746.666667,1085.333333,302.666667,74.666667,1562.666667,174.666667,109.333333,262.666667,210.666667,121.333333,308.666667,105.333333,32.000000,24.000000,11.333333,11.333333
7193,W02000413,2974.000000,1132.666667,1841.333333,1274.000000,212.666667,59.333333,1637.333333,150.666667,144.666667,308.666667,230.000000,176.000000,254.666667,163.333333,50.000000,41.333333,22.000000,18.000000

In [8]:
for df in c2001_dfs:
    print(df.columns)
    total_col = df.filter(regex='(^All categories.*)|(.*with residents.*)|(All usual residents.*)|(Number of residents by communal establishment type.*)|(All people.*)|(All households.*)|(All males.*)|(All lone parent housholds.*)').columns[0]
    total_cols = list(df.filter(regex='(^All categories.*)|(.*with residents.*)|(All usual residents.*)|(Number of residents by communal establishment type.*)|(All people.*)|(All households.*)|(All males.*)|(All lone parent housholds.*)').columns)
    print(total_col)
    agg_cols = list(df.filter(regex='.*([Aa]verage)|([Mm]ean)|([Mm]edian)|([Nn]umber of).*').columns)
    geo_col = 'GEOGRAPHY_CODE'
    val_cols = [col for col in df.columns if col not in total_cols and col not in agg_cols and col != geo_col]
    for col in val_cols:
        df[col] = df[col] / df[total_col]

Index(['GEOGRAPHY_CODE', 'All usual residents aged 16 to 74',
       'Economically Inactive', 'Economically active',
       'Economically active: Employee: Full-time',
       'Economically active: Employee: Part-time',
       'Economically active: Full-time student',
       'Economically active: In employment',
       'Economically active: Self-employed', 'Economically active: Unemployed',
       'Economically inactive: Long-term sick or disabled',
       'Economically inactive: Looking after home or family',
       'Economically inactive: Other', 'Economically inactive: Retired',
       'Economically inactive: Student (including full-time students)',
       'Long-term unemployed', 'Unemployed: Age 16 to 24',
       'Unemployed: Age 50 to 74', 'Unemployed: Never worked'],
      dtype='object', name='CELL_NAME')
All usual residents aged 16 to 74
Index(['GEOGRAPHY_CODE', 'All households', 'Average household size',
       'Average number of rooms per household',
       'Lowest floor level - Basement or semi-basement',
       'Lowest floor level - Ground level (street level)',
       'Lowest floor level - fifth floor or higher',
       'Lowest floor level - first to fourth floor',
       'Occupancy rating of -1 or less',
       'With central heating and sole use of bath/shower and toilet',
       'With central heating; without sole use of bath/shower and toilet',
       'Without central heating or sole use of bath/shower and toilet',
       'Without central heating; with sole use of bath/shower and toilet'],
      dtype='object', name='C_HHCHUK11_NAME')
All households
Index(['GEOGRAPHY_CODE', 'All people aged 16 to 74 in employment',
       'Average distance (km) travelled to fixed place of work', 'Bicycle',
       'Bus, minibus or coach', 'Driving a car or van',
       'Motorcycle, scooter or moped', 'On foot', 'Other',
       'Passenger in a car or van',
       'Public transport users in households - with a car or van',
       'Public transport users in households - without a car or van',
       'Taxi or minicab', 'Train', 'Underground, metro, light rail, tram',
       'Work mainly at or from home'],
      dtype='object', name='C_TRANSPORT_NAME')
All people aged 16 to 74 in employment
Index(['GEOGRAPHY_CODE',
       'All household spaces - with no residents - second residence/holiday accommodation',
       'All household spaces - with no residents - vacant',
       'All household spaces - with residents',
       'Caravan or other mobile or temporary structure',
       'Flat, maisonette or apartment - in a commercial building',
       'Flat, maisonette or apartment - in a purpose built block of flats or tenement',
       'Flat, maisonette or apartment - part of a converted or shared house (includes bed-sit)',
       'Whole house or bungalow - detatched',
       'Whole house or bungalow - semi-detatched',
       'Whole house or bungalow - terraced'],
      dtype='object', name='C_HHSDUK11_NAME')
All household spaces - with residents
Index(['GEOGRAPHY_CODE', 'Age 0 to 4', 'Age 10 to 14', 'Age 15',
       'Age 16 to 17', 'Age 18 to 19', 'Age 20 to 24', 'Age 25 to 29',
       'Age 30 to 44', 'Age 45 to 59', 'Age 5 to 7', 'Age 60 to 64',
       'Age 65 to 74', 'Age 75 to 84', 'Age 8 to 9', 'Age 85 to 89',
       'Age 90 and over', 'All usual residents', 'Mean Age', 'Median Age'],
      dtype='object', name='CELL_NAME')
All usual residents
Index(['GEOGRAPHY_CODE', 'All people aged 16-74',
       'Full-time students: Age 18 to 74: Economically active: In employment',
       'Full-time students: Age 18 to 74: Economically active: Unemployed',
       'Full-time students: Age 18 to 74: Economically inactive',
       'Highest level of qualification: Level 1 qualifications',
       'Highest level of qualification: Level 2 qualifications',
       'Highest level of qualification: Level 3 qualifications',
       'Highest level of qualification: Level 4 qualifications and above',
       'Highest level of qualification: Other qualifications',
       'No qualifications',
       'Schoolchildren and full-time students: Age 16 to 17',
       'Schoolchildren and full-time students: Age 18 to 74'],
      dtype='object', name='CELL_NAME')
All people aged 16-74
Index(['GEOGRAPHY_CODE', 'All households', 'One family and no others',
       'One family and no others - All pensioners',
       'One family and no others - Lone parent households - all children non-dependent',
       'One family and no others - Lone parent households - with dependent children',
       'One family and no others - cohabiting couple households - all children non-dependent',
       'One family and no others - cohabiting couple households - no children',
       'One family and no others - cohabiting couple households - with dependent children',
       'One family and no others - married couple households - all children non-dependent',
       'One family and no others - married couple households - no children',
       'One family and no others - married couple households - with dependent children',
       'One person household', 'One person household - Other',
       'One person household - Pensioner', 'Other households',
       'Other households - All pensioner', 'Other households - All students',
       'Other households - Other',
       'Other households - With dependent children'],
      dtype='object', name='C_HHCHUK11_NAME')
All households
Index(['GEOGRAPHY_CODE', 'All people aged 3 and over', 'No knowledge of Welsh',
       'Other combination of skills',
       'Speaks and reads but does not write Welsh',
       'Speaks but does not read or write Welsh',
       'Speaks, reads and writes Welsh', 'Understands spoken Welsh only'],
      dtype='object', name='CELL_NAME')
All people aged 3 and over
Index(['GEOGRAPHY_CODE', 'All households',
       'No adults in employment - with dependent children',
       'No adults in employment - without dependent children',
       'With dependent children - aged 0 to 4',
       'With dependent children - all ages',
       'With one or more people with a limiting long-term illness'],
      dtype='object', name='DEPCHILD_NAME')
All households
Index(['GEOGRAPHY_CODE', 'All people', 'All people who provide unpaid care',
       'People of working age with limiting long-term illness',
       'People who provide unpaid care 1 to 19 hours a week',
       'People who provide unpaid care 20 to 49 hours a week',
       'People who provide unpaid care 50 or more hours a week',
       'People whose health was fairly good', 'People whose health was good',
       'People whose health was not good',
       'People with limiting long-term illness'],
      dtype='object', name='C_CARER_NAME')
All people
Index(['GEOGRAPHY_CODE', 'All people', 'Divorced', 'Married (first marriage)',
       'Re-married', 'Separated (but still legally married)',
       'Single (never married)', 'Widowed'],
      dtype='object', name='CELL_NAME')
All people
Index(['GEOGRAPHY_CODE', 'All categories: Tenure', 'Other', 'Owned outright',
       'Owned with a mortgage or loan',
       'Rented from a housing association/registered social landlord',
       'Rented from a private landlord or letting agency',
       'Rented from council(local authority)', 'Shared ownership'],
      dtype='object', name='C_TENHUK11_NAME')
All categories: Tenure
Index(['GEOGRAPHY_CODE', 'All communal establishments',
       'Medical and care establishments - Housing association',
       'Medical and care establishments - Local Authority - Children's home',
       'Medical and care establishments - Local Authority - Other',
       'Medical and care establishments - NHS - Other hospital home',
       'Medical and care establishments - NHS - Psychiatric hospital / home',
       'Medical and care establishments - Other',
       'Medical and care establishments - Other - Children's home',
       'Medical and care establishments - Other - Nursing home',
       'Medical and care establishments - Other - Residential care home',
       'Number of residents by communal establishment type',
       'Other establishments',
       'Residents in establishments with limiting long-term illness - medical and care establishments',
       'Residents in establishments with limiting long-term illness - other establishments'],
      dtype='object', name='COMMTYPE_NAME')
Number of residents by communal establishment type
Index(['GEOGRAPHY_CODE', 'All females aged 16-74 in employment',
       'All males aged 16-74 in employment', 'Female - Mean hours worked',
       'Females - Full-time - 31 to 37 hours',
       'Females - Full-time - 38 to 48 hours',
       'Females - Full-time - 49 or more hours',
       'Females - Part-time - 1 to 5 hours',
       'Females - Part-time - 16 to 30 hours',
       'Females - Part-time - 6 to 15 hours', 'Male - Mean hours worked',
       'Males - Full-time - 31 to 37 hours',
       'Males - Full-time - 38 to 48 hours',
       'Males - Full-time - 49 or more hours',
       'Males - Part-time - 1 to 5 hours',
       'Males - Part-time - 16 to 30 hours',
       'Males - Part-time - 6 to 15 hours'],
      dtype='object', name='C_HOURS_NAME')
All males aged 16-74 in employment
Index(['GEOGRAPHY_CODE', 'All categories: Ethnic group', 'Asian/Asian British',
       'Asian/Asian British: Bangladeshi', 'Asian/Asian British: Indian',
       'Asian/Asian British: Other', 'Asian/Asian British: Pakistani',
       'Black/Black British', 'Black/Black British: Black African',
       'Black/Black British: Black Caribbean', 'Black/Black British: Other',
       'Chinese/Other', 'Chinese/Other: Chinese', 'Chinese/Other: Other',
       'Mixed', 'Mixed: Other', 'Mixed: White and Asian',
       'Mixed: White and Black African', 'Mixed: White and Black Caribbean',
       'White', 'White: British', 'White: Irish', 'White: Other'],
      dtype='object', name='C_ETHPUK11_NAME')
All categories: Ethnic group
Index(['GEOGRAPHY_CODE', 'All categories: Living arrangements',
       'Living in a couple', 'Living in a couple: Cohabiting',
       'Living in a couple: Married or re-married', 'Not living in a couple',
       'Not living in a couple: Divorced',
       'Not living in a couple: Married or re-married',
       'Not living in a couple: Separated (but still legally married)',
       'Not living in a couple: Single (never married)',
       'Not living in a couple: Widowed'],
      dtype='object', name='C_LARPUK11_NAME')
All categories: Living arrangements
Index(['GEOGRAPHY_CODE', '2001 Density(number of people per hectare)',
       'All people', 'Area (hectares)', 'Females', 'Males',
       'People living in communal establishments',
       'People living in households', 'Students away from home'],
      dtype='object', name='CELL_NAME')
All people
Index(['GEOGRAPHY_CODE', 'All people', 'Elsewhere', 'England',
       'Northern Ireland', 'Other EU countries', 'Republic of Ireland',
       'Scotland', 'Wales'],
      dtype='object', name='COB_NAME')
All people
Index(['GEOGRAPHY_CODE', 'All categories: NS-SeC', 'Full-time students',
       'Higher professional occupations', 'Intermediate occupations',
       'Large employers and higher managerial and administrative occupations',
       'Long-term unemployed',
       'Lower managerial, administrative and professional occupations',
       'Lower supervisory and technical occupations', 'Never worked',
       'Not classifiable for other reasons', 'Routine occupations',
       'Semi-routine occupations', 'Small employers and own account workers'],
      dtype='object', name='C_NSSEC_NAME')
All categories: NS-SeC
Index(['GEOGRAPHY_CODE', 'A Agriculture, hunting, forestry',
       'All categories: Industry', 'B Fishing', 'C Mining and quarrying',
       'D Manufacturing', 'E Electricity, gas and water supply',
       'F Constructiion',
       'G Wholesale and retail trade, repair of motor vehicles',
       'H Hotels and restaurants', 'I Transport storage and communications',
       'J Financial Intermediation',
       'K Real estate,renting and business activities',
       'L Public administration and defence, social security', 'M Education',
       'N Health and social work', 'O,P,Q Other'],
      dtype='object', name='C_INDGPUK11_NAME')
All categories: Industry
Index(['GEOGRAPHY_CODE', 'All categories: Religion', 'Buddhist', 'Christian',
       'Hindu', 'Jewish', 'Muslim', 'No religion', 'Other religion',
       'Religion not stated', 'Sikh'],
      dtype='object', name='C_RELPUK11_NAME')
All categories: Religion
Index(['GEOGRAPHY_CODE', '1 car or van in household',
       '2 cars or vans in household', '3 cars or vans in household',
       '4 or more cars or vans in household',
       'All categories: Car or van availability',
       'No cars or vans in household', 'sum of all cars or vans in the area'],
      dtype='object', name='CELL_NAME')
All categories: Car or van availability
Index(['GEOGRAPHY_CODE', 'All lone parent housholds with dependent children',
       'Female lone parent: In full-time employment',
       'Female lone parent: In part-time employment',
       'Female lone parent: Total',
       'Male lone parent: In full-time employment',
       'Male lone parent: In part-time employment', 'Male lone parent: Total'],
      dtype='object', name='CELL_NAME')
All lone parent housholds with dependent children
Index(['GEOGRAPHY_CODE', '1. Managers and senior officials',
       '2. Professional occupations',
       '3. Associate professional and technical occupations',
       '4. Administrative and secretarial occupations',
       '5. Skilled trades occupations', '6. Personal service occupations',
       '7. Sales and customer service occupations',
       '8. Process, plant and machine operatives', '9. Elementary occupations',
       'All categories: Occupation'],
      dtype='object', name='C_OCCPUK11_2_NAME')
All categories: Occupation

In [9]:
for mnemonic, df in zip(metadata_2001_mnemonics, c2001_dfs):
    df.to_csv(rf'.\data\raw\api\msoa\percents\c2001\{mnemonic}.csv')

In [10]:
try:
    metadata_2021 = pd.read_csv(r'.\data\raw\api\msoa\counts\c2021\metadata.csv')
except:  
    os.chdir("..")
    metadata_2021 = pd.read_csv(r'.\data\raw\api\msoa\counts\c2021\metadata.csv')
metadata_2021['clean_mnemonic'] = metadata_2021['mnemonic'].str.extract('(c2021ts.*)')
metadata_2021 = metadata_2021[metadata_2021['geoglevel'].str.contains('msoa')]
metadata_2021_mnemonics = list(set(metadata_2021['clean_mnemonic']))
len(metadata_2021_mnemonics)

68

In [11]:
c2021_dfs = []

for mnemonic in metadata_2021_mnemonics:
    root_dir = r'.\data\raw\api\msoa\counts\c2021'
    mnemonic_tables = glob.glob(mnemonic+'*', root_dir=root_dir)
    mnemonic_dfs = []

    for table in mnemonic_tables:
        df = pd.read_csv(rf"{root_dir}\{table}")
        mnemonic_dfs.append(df)

    mnemonic_df = pd.concat(mnemonic_dfs)

    mnemonic_df = mnemonic_df.drop(columns=['Unnamed: 0', 'GEOGRAPHY_TYPE', 'GEOGRAPHY_TYPECODE', 'DATE'])
    mnemonic_df['OBS_VALUE'] = mnemonic_df['OBS_VALUE'].astype(float)
    mnemonic_df = mnemonic_df[mnemonic_df['OBS_VALUE'] > 0]
    cols = list(mnemonic_df.columns)
    var_col = [col for col in cols if col not in ['GEOGRAPHY_CODE', 'OBS_VALUE']][0]
    mnemonic_df = mnemonic_df.pivot_table(index='GEOGRAPHY_CODE', columns=var_col, values='OBS_VALUE', aggfunc='mean', fill_value=0)
    mnemonic_df = mnemonic_df.reset_index(drop=False)
    c2021_dfs.append(mnemonic_df)
c2021_dfs[37]

C2021_RELIGION_10_NAME,GEOGRAPHY_CODE,Buddhist,Christian,Hindu,Jewish,Muslim,No religion,Not answered,Other religion,Sikh,Total: All usual residents
0,E02000001,95.0,2976.0,203.0,177.0,540.0,3763.0,767.0,55.0,6.0,8582.0
1,E02000002,27.0,3899.0,269.0,30.0,1610.0,1816.0,426.0,32.0,172.0,8281.0
2,E02000003,35.0,4961.0,571.0,18.0,3072.0,1576.0,589.0,56.0,665.0,11543.0
3,E02000004,33.0,3456.0,163.0,13.0,829.0,1671.0,353.0,18.0,104.0,6640.0
4,E02000005,46.0,4587.0,744.0,22.0,2387.0,2210.0,605.0,78.0,405.0,11084.0
...,...,...,...,...,...,...,...,...,...,...,...
7259,W02000424,19.0,3923.0,23.0,2.0,32.0,2226.0,434.0,20.0,4.0,6683.0
7260,W02000425,34.0,4394.0,22.0,10.0,195.0,3164.0,463.0,45.0,18.0,8345.0
7261,W02000426,23.0,5416.0,21.0,2.0,93.0,3648.0,665.0,26.0,2.0,9896.0
7262,W02000427,25.0,4311.0,11.0,3.0,23.0,6015.0,679.0,69.0,7.0,11143.0
7263,W02000428,33.0,4812.0,41.0,9.0,219.0,4517.0,804.0,55.0,9.0,10499.0

In [12]:
for df in c2021_dfs:
    geo_col = 'GEOGRAPHY_CODE'
    try:
        total_col = df.filter(regex='Total.*').columns[0]
    except:
        total_col = [col for col in df.columns if col not in [geo_col]][0]
    total_cols = list(df.filter(regex='Total.*').columns)
    agg_cols = list(df.filter(regex='.*([Aa]verage)|([Mm]ean)|([Mm]edian)|([Nn]umber of)|(\d\sbedrooms?)|(more\sbedrooms).*').columns)
    geo_col = 'GEOGRAPHY_CODE'
    val_cols = [col for col in df.columns if col not in total_cols and col not in agg_cols and col != geo_col and col != total_col]
    for col in val_cols:
        df[col] = df[col] / df[total_col]

In [13]:
for mnemonic, df in zip(metadata_2021_mnemonics, c2021_dfs):
    print(mnemonic)
    print(df.head())
    df.to_csv(rf'.\data\raw\api\msoa\percents\c2021\{mnemonic}.csv')

c2021ts034
C2021_WLANGW_3_NAME GEOGRAPHY_CODE  Can write Welsh  Cannot write Welsh  \
0                        W02000001         0.492298            0.507702
1                        W02000002         0.461724            0.538276
2                        W02000003         0.304090            0.695910
3                        W02000004         0.404056            0.595944
4                        W02000005         0.393410            0.606590

C2021_WLANGW_3_NAME  Total: All usual residents aged 3 years and over
0                                                              8180.0
1                                                              6231.0
2                                                             10270.0
3                                                              7249.0
4                                                              8012.0
c2021ts066
C2021_EASTAT_20_NAME GEOGRAPHY_CODE  \
0                         E02000001
1                         E02000002
2                         E02000003
3                         E02000004
4                         E02000005

C2021_EASTAT_20_NAME  Economically active (excluding full-time students)  \
0                                                              0.694028
1                                                              0.566583
2                                                              0.604817
3                                                              0.610724
4                                                              0.631401

C2021_EASTAT_20_NAME  Economically active (excluding full-time students): In employment: Employee: Full-time  \
0                                                              0.470390
1                                                              0.281704
2                                                              0.300656
3                                                              0.347319
4                                                              0.334919

C2021_EASTAT_20_NAME  Economically active (excluding full-time students): In employment: Employee: Part-time  \
0                                                              0.054973
1                                                              0.123141
2                                                              0.127318
3                                                              0.113076
4                                                              0.138475

C2021_EASTAT_20_NAME  Economically active (excluding full-time students): In employment: Self-employed with employees: Full-time  \
0                                                              0.018741
1                                                              0.012364
2                                                              0.018204
3                                                              0.011477
4                                                              0.014774

C2021_EASTAT_20_NAME  Economically active (excluding full-time students): In employment: Self-employed with employees: Part-time  \
0                                                              0.003498
1                                                              0.004010
2                                                              0.006897
3                                                              0.004516
4                                                              0.006385

C2021_EASTAT_20_NAME  Economically active (excluding full-time students): In employment: Self-employed without employees: Full-time  \
0                                                              0.065467
1                                                              0.059649
2                                                              0.068408
3                                                              0.060583
4                                                              0.058470

C2021_EASTAT_20_NAME  Economically active (excluding full-time students): In employment: Self-employed without employees: Part-time  \
0                                                              0.045727
1                                                              0.039098
2                                                              0.039914
3                                                              0.031609
4                                                              0.037937

C2021_EASTAT_20_NAME  Economically active (excluding full-time students): Unemployed  \
0                                                              0.035232
1                                                              0.046617
2                                                              0.043419
3                                                              0.042145
4                                                              0.040441

C2021_EASTAT_20_NAME  Economically active (excluding full-time students):In employment  \
0                                                              0.658796
1                                                              0.519967
2                                                              0.561398
3                                                              0.568579
4                                                              0.590960

C2021_EASTAT_20_NAME  ...  \
0                     ...
1                     ...
2                     ...
3                     ...
4                     ...

C2021_EASTAT_20_NAME  Economically active and a full-time student:In employment:Employee  \
0                                                              0.007246
1                                                              0.017210
2                                                              0.023971
3                                                              0.015616
4                                                              0.015275

C2021_EASTAT_20_NAME  Economically active and a full-time student:In employment:Self-employed with employees  \
0                                                              0.000000
1                                                              0.000334
2                                                              0.000791
3                                                              0.000376
4                                                              0.000751

C2021_EASTAT_20_NAME  Economically active and a full-time student:In employment:Self-employed without employees  \
0                                                              0.002499
1                                                              0.003509
2                                                              0.005654
3                                                              0.001317
4                                                              0.001878

C2021_EASTAT_20_NAME  Economically inactive  \
0                                  0.290605
1                                  0.399833
2                                  0.359114
3                                  0.365569
4                                  0.342431

C2021_EASTAT_20_NAME  Economically inactive: Long-term sick or disabled  \
0                                                              0.015492
1                                                              0.056642
2                                                              0.028833
3                                                              0.036312
4                                                              0.041943

C2021_EASTAT_20_NAME  Economically inactive: Looking after home or family  \
0                                                              0.023988
1                                                              0.080535
2                                                              0.080393
3                                                              0.054751
4                                                              0.082259

C2021_EASTAT_20_NAME  Economically inactive: Other  \
0                                         0.037106
1                                         0.042272
2                                         0.045115
3                                         0.040828
4                                         0.047828

C2021_EASTAT_20_NAME  Economically inactive: Retired  \
0                                           0.124063
1                                           0.137176
2                                           0.133650
3                                           0.175541
4                                           0.099286

C2021_EASTAT_20_NAME  Economically inactive: Student  \
0                                           0.089955
1                                           0.083208
2                                           0.071122
3                                           0.058137
4                                           0.071116

C2021_EASTAT_20_NAME  Total: All usual residents aged 16 years and over
0                                                                8004.0
1                                                                5985.0
2                                                                8844.0
3                                                                5315.0
4                                                                7987.0

[5 rows x 32 columns]
c2021ts028
C2021_NATID_71_NAME GEOGRAPHY_CODE  Other identity only  \
0                        E02000001             0.336246
1                        E02000002             0.179447
2                        E02000003             0.245842
3                        E02000004             0.151355
4                        E02000005             0.223908

C2021_NATID_71_NAME  Other identity only: African  \
0                                        0.008272
1                                        0.025359
2                                        0.017238
3                                        0.016717
4                                        0.027898

C2021_NATID_71_NAME  Other identity only: African: Central and Western African  \
0                                                             0.002680
1                                                             0.018597
2                                                             0.010915
3                                                             0.012349
4                                                             0.021668

C2021_NATID_71_NAME  Other identity only: African: Central and Western African: Ghanaian  \
0                                                             0.000583
1                                                             0.003502
2                                                             0.002772
3                                                             0.002560
4                                                             0.005778

C2021_NATID_71_NAME  Other identity only: African: Central and Western African: Nigerian  \
0                                                             0.001049
1                                                             0.008936
2                                                             0.005544
3                                                             0.007681
4                                                             0.010293

C2021_NATID_71_NAME  Other identity only: African: Central and Western African: Other Central and Western African  \
0                                                             0.001049
1                                                             0.006159
2                                                             0.002599
3                                                             0.002108
4                                                             0.005598

C2021_NATID_71_NAME  Other identity only: African: North African  \
0                                                       0.002447
1                                                       0.001691
2                                                       0.000693
3                                                       0.000904
4                                                       0.001264

C2021_NATID_71_NAME  Other identity only: African: South and Eastern African  \
0                                                             0.003146
1                                                             0.005072
2                                                             0.005631
3                                                             0.003464
4                                                             0.004966

C2021_NATID_71_NAME  Other identity only: African: South and Eastern African: Kenyan  \
0                                                             0.000117
1                                                             0.000845
2                                                             0.000606
3                                                             0.000301
4                                                             0.000361

C2021_NATID_71_NAME  ...  UK identity: British only identity  \
0                    ...                            0.431784
1                    ...                            0.609105
2                    ...                            0.580908
3                    ...                            0.552410
4                    ...                            0.567263

C2021_NATID_71_NAME  UK identity: Cornish and British only identity  \
0                                                           0.00035
1                                                           0.00000
2                                                           0.00000
3                                                           0.00000
4                                                           0.00000

C2021_NATID_71_NAME  UK identity: Cornish only identity  \
0                                              0.000350
1                                              0.000000
2                                              0.000087
3                                              0.000000
4                                              0.000000

C2021_NATID_71_NAME  UK identity: English and British only identity  \
0                                                          0.071653
1                                                          0.063760
2                                                          0.049896
3                                                          0.096536
4                                                          0.066450

C2021_NATID_71_NAME  UK identity: English only identity  \
0                                              0.063731
1                                              0.116653
2                                              0.091476
3                                              0.177259
4                                              0.106176

C2021_NATID_71_NAME  UK identity: Northern Irish and British only identity  \
0                                                             0.000117
1                                                             0.000000
2                                                             0.000000
3                                                             0.000151
4                                                             0.000000

C2021_NATID_71_NAME  UK identity: Northern Irish only identity  \
0                                                     0.003262
1                                                     0.000483
2                                                     0.000780
3                                                     0.000753
4                                                     0.000451

C2021_NATID_71_NAME  UK identity: Other identity and at least one UK identity   \
0                                                             0.074799
1                                                             0.026929
2                                                             0.027893
3                                                             0.017620
4                                                             0.034399

C2021_NATID_71_NAME  UK identity: Scottish only identity  \
0                                               0.005942
1                                               0.001328
2                                               0.000953
3                                               0.001807
4                                               0.000181

C2021_NATID_71_NAME  UK identity: Welsh and British only identity
0                                                        0.001748
1                                                        0.000000
2                                                        0.000173
3                                                        0.000151
4                                                        0.000090

[5 rows x 92 columns]
c2021ts054
C2021_TENURE_9_NAME GEOGRAPHY_CODE  Lives rent free     Owned  \
0                        E02000001         0.001018  0.365079
1                        E02000002         0.002787  0.430662
2                        E02000003         0.000254  0.556234
3                        E02000004         0.000433  0.668255
4                        E02000005         0.002205  0.518743

C2021_TENURE_9_NAME  Owned: Owns outright  \
0                                0.226699
1                                0.176655
2                                0.239695
3                                0.281074
4                                0.160419

C2021_TENURE_9_NAME  Owned: Owns with a mortgage or loan  \
0                                               0.138380
1                                               0.254007
2                                               0.316539
3                                               0.387181
4                                               0.358324

C2021_TENURE_9_NAME  Owns with a mortgage or loan or shared ownership  \
0                                                            0.140822
1                                                            0.257491
2                                                            0.322646
3                                                            0.394110
4                                                            0.371279

C2021_TENURE_9_NAME  Private rented  Private rented or lives rent free  \
0                          0.482906                           0.483923
1                          0.145296                           0.148084
2                          0.304580                           0.304835
3                          0.162841                           0.163274
4                          0.214719                           0.216924

C2021_TENURE_9_NAME  Private rented: Other private rented  \
0                                                0.062882
1                                                0.012892
2                                                0.022137
3                                                0.016890
4                                                0.017089

C2021_TENURE_9_NAME  Private rented: Private landlord or letting agency  \
0                                                             0.420024
1                                                             0.132404
2                                                             0.282443
3                                                             0.145951
4                                                             0.197630

C2021_TENURE_9_NAME  Shared ownership  Shared ownership: Shared ownership  \
0                            0.002442                            0.002442
1                            0.003484                            0.003484